enforcer/uploads/languageGenerator/language_XFRM.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="policy" type="Policy"/>
    <xs:complexType name="Policy">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="rule" type="Rule"/>
        </xs:sequence>
        <xs:attribute name="nsfName" type="xs:string"/>
        <xs:attribute name="targetRuleSet" type="xs:string"/>
        <xs:attribute name="ipSecAction" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="ManualOperationActionCapability">
        <xs:complexContent>
            <xs:extension base="ManualOperationCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpSourceAddressConditionCapability">
        <xs:complexContent>
            <xs:extension base="IpSourceAddressCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpDestinationAddressConditionCapability">
        <xs:complexContent>
            <xs:extension base="IpDestinationAddressCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ContextConditionCapability">
        <xs:complexContent>
            <xs:extension base="ContextCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InterfaceConditionCapability">
        <xs:complexContent>
            <xs:extension base="InterfaceCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyTypeConditionCapability">
        <xs:complexContent>
            <xs:extension base="PolicyTypeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyDirConditionCapability">
        <xs:complexContent>
            <xs:extension base="PolicyDirCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicySpiConditionCapability">
        <xs:complexContent>
            <xs:extension base="PolicySpiCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyReqidConditionCapability">
        <xs:complexContent>
            <xs:extension base="PolicyReqidCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplayWindowConditionCapability">
        <xs:complexContent>
            <xs:extension base="ReplayWindowCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplaySeqConditionCapability">
        <xs:complexContent>
            <xs:extension base="ReplaySeqCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplaySeqHiConditionCapability">
        <xs:complexContent>
            <xs:extension base="ReplaySeqHiCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplayOseqConditionCapability">
        <xs:complexContent>
            <xs:extension base="ReplayOseqCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplayOseqHiConditionCapability">
        <xs:complexContent>
            <xs:extension base="ReplayOseqHiCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SequenceConditionCapability">
        <xs:complexContent>
            <xs:extension base="SequenceCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PriorityConditionCapability">
        <xs:complexContent>
            <xs:extension base="PriorityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConnmarkConditionCapability">
        <xs:complexContent>
            <xs:extension base="ConnmarkCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LimitXFRMConditionCapability">
        <xs:complexContent>
            <xs:extension base="LimitXFRMCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LevelConditionCapability">
        <xs:complexContent>
            <xs:extension base="LevelCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DeviceDestinationConditionCapability">
        <xs:complexContent>
            <xs:extension base="DevDestGroupCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PacketEncapsulationActionCapability">
        <xs:complexContent>
            <xs:extension base="PacketEncapsulation"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DataAuthenticationActionCapability">
        <xs:complexContent>
            <xs:extension base="DataAuthenticationCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EncryptionActionCapability">
        <xs:complexContent>
            <xs:extension base="EncryptionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AEADActionCapability">
        <xs:complexContent>
            <xs:extension base="IkeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TypeOfEncapActionCapability">
        <xs:complexContent>
            <xs:extension base="TypeOfEncap"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CompressionActionCapability">
        <xs:complexContent>
            <xs:extension base="CompressionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourcePortConditionCapability">
        <xs:complexContent>
            <xs:extension base="SourcePortCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationPortConditionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationPortCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FlagConditionCapability">
        <xs:complexContent>
            <xs:extension base="FlagCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ExtraFlagConditionCapability">
        <xs:complexContent>
            <xs:extension base="Extra-FlagCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpProtocolTypeConditionCapability">
        <xs:complexContent>
            <xs:extension base="IpProtocolTypeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IcmpConditionCapability">
        <xs:complexContent>
            <xs:extension base="IcmpTypeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Icmp6ConditionCapability">
        <xs:complexContent>
            <xs:extension base="Icmp6TypeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MobilityHeaderConditionCapability">
        <xs:complexContent>
            <xs:extension base="MhTypeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GreConditionCapability">
        <xs:complexContent>
            <xs:extension base="GreCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AcceptActionCapability">
        <xs:complexContent>
            <xs:extension base="AcceptCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RejectActionCapability">
        <xs:complexContent>
            <xs:extension base="RejectCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyActionCapability">
        <xs:complexContent>
            <xs:extension base="PolicyCommandCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpSecRuleTypeActionCapability">
        <xs:complexContent>
            <xs:extension base="IPSecRuleTypeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SelectorConditionCapability">
        <xs:complexContent>
            <xs:extension base="SelectorCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TemplateConditionCapability">
        <xs:complexContent>
            <xs:extension base="TemplateCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Rule">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="ruleDescription" type="xs:string"/>
            <xs:element name="label" type="xs:string"/>
            <xs:element name="externalData" type="ExternalData"/>
            <xs:element name="manualOperationActionCapability" type="ManualOperationActionCapability"/>
            <xs:element name="ipSourceAddressConditionCapability" type="IpSourceAddressConditionCapability"/>
            <xs:element name="ipDestinationAddressConditionCapability" type="IpDestinationAddressConditionCapability"/>
            <xs:element name="contextConditionCapability" type="ContextConditionCapability"/>
            <xs:element name="interfaceConditionCapability" type="InterfaceConditionCapability"/>
            <xs:element name="policyTypeConditionCapability" type="PolicyTypeConditionCapability"/>
            <xs:element name="policyDirConditionCapability" type="PolicyDirConditionCapability"/>
            <xs:element name="policySpiConditionCapability" type="PolicySpiConditionCapability"/>
            <xs:element name="policyReqidConditionCapability" type="PolicyReqidConditionCapability"/>
            <xs:element name="replayWindowConditionCapability" type="ReplayWindowConditionCapability"/>
            <xs:element name="replaySeqConditionCapability" type="ReplaySeqConditionCapability"/>
            <xs:element name="replaySeqHiConditionCapability" type="ReplaySeqHiConditionCapability"/>
            <xs:element name="replayOseqConditionCapability" type="ReplayOseqConditionCapability"/>
            <xs:element name="replayOseqHiConditionCapability" type="ReplayOseqHiConditionCapability"/>
            <xs:element name="sequenceConditionCapability" type="SequenceConditionCapability"/>
            <xs:element name="priorityConditionCapability" type="PriorityConditionCapability"/>
            <xs:element name="connmarkConditionCapability" type="ConnmarkConditionCapability"/>
            <xs:element name="limitXFRMConditionCapability" type="LimitXFRMConditionCapability"/>
            <xs:element name="levelConditionCapability" type="LevelConditionCapability"/>
            <xs:element name="deviceDestinationConditionCapability" type="DeviceDestinationConditionCapability"/>
            <xs:element name="packetEncapsulationActionCapability" type="PacketEncapsulationActionCapability"/>
            <xs:element name="dataAuthenticationActionCapability" type="DataAuthenticationActionCapability"/>
            <xs:element name="encryptionActionCapability" type="EncryptionActionCapability"/>
            <xs:element name="aEADActionCapability" type="AEADActionCapability"/>
            <xs:element name="typeOfEncapActionCapability" type="TypeOfEncapActionCapability"/>
            <xs:element name="compressionActionCapability" type="CompressionActionCapability"/>
            <xs:element name="sourcePortConditionCapability" type="SourcePortConditionCapability"/>
            <xs:element name="destinationPortConditionCapability" type="DestinationPortConditionCapability"/>
            <xs:element name="flagConditionCapability" type="FlagConditionCapability"/>
            <xs:element name="extraFlagConditionCapability" type="ExtraFlagConditionCapability"/>
            <xs:element name="ipProtocolTypeConditionCapability" type="IpProtocolTypeConditionCapability"/>
            <xs:element name="icmpConditionCapability" type="IcmpConditionCapability"/>
            <xs:element name="icmp6ConditionCapability" type="Icmp6ConditionCapability"/>
            <xs:element name="mobilityHeaderConditionCapability" type="MobilityHeaderConditionCapability"/>
            <xs:element name="greConditionCapability" type="GreConditionCapability"/>
            <xs:element name="acceptActionCapability" type="AcceptActionCapability"/>
            <xs:element name="rejectActionCapability" type="RejectActionCapability"/>
            <xs:element name="policyActionCapability" type="PolicyActionCapability"/>
            <xs:element name="ipSecRuleTypeActionCapability" type="IpSecRuleTypeActionCapability"/>
            <xs:element name="selectorConditionCapability" type="SelectorConditionCapability"/>
            <xs:element name="templateConditionCapability" type="TemplateConditionCapability"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="ruleType" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="ExternalData">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="NSF">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="languageModelGenerator" type="LanguageModelGenerator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="nsfTranslatorAdapter" type="NSFTranslatorAdapter"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="metadata" type="Metadata"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="securityCapability" type="SecurityCapability"/>
            <xs:element maxOccurs="1" minOccurs="0" name="nsfPolicyDetails" type="NSFPolicyDetails"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:attribute name="ref" type="xs:IDREF"/>
    </xs:complexType>
    <xs:complexType name="SecurityCapability">
        <xs:complexContent>
            <xs:extension base="NSF"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActionCapability">
        <xs:complexContent>
            <xs:extension base="SecurityCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="operation" type="OperationTypeEnumeration"/>
                    <xs:element name="capabilityValue" type="ActionOperatorType"/>
                </xs:choice>
                <xs:attribute name="operator" type="SupportedActionOperatorEnumeration"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="KeyExchangeCapability">
        <xs:complexContent>
            <xs:extension base="ActionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ManualOperationCapability">
        <xs:complexContent>
            <xs:extension base="KeyExchangeCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="operationType" type="IpSecActionEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConditionCapability">
        <xs:complexContent>
            <xs:extension base="SecurityCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="operation" type="OperationTypeEnumeration"/>
                    <xs:element name="capabilityValue" type="OperatorType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="capabilityIpValue" type="IpOperatorType"/>
                </xs:choice>
                <xs:attribute name="operator" type="SupportedConditionOperatorEnumeration"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="L3Capability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Ipv4Capability">
        <xs:complexContent>
            <xs:extension base="L3Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpAddressCapability">
        <xs:complexContent>
            <xs:extension base="Ipv4Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpSrcAddressCapability">
        <xs:complexContent>
            <xs:extension base="IpAddressCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpSourceAddressCapability">
        <xs:complexContent>
            <xs:extension base="IpSrcAddressCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="ipAddress" type="Ipv4MaskRangeOperatorType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpDestAddressCapability">
        <xs:complexContent>
            <xs:extension base="IpAddressCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpDestinationAddressCapability">
        <xs:complexContent>
            <xs:extension base="IpDestAddressCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="ipAddress" type="Ipv4MaskRangeOperatorType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ContextCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="ctxNumber" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InterfaceCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="IF-ID" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyTypeCapability">
        <xs:complexContent>
            <xs:extension base="PolicyCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="PolicyTypeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyDirCapability">
        <xs:complexContent>
            <xs:extension base="PolicyCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="dir" type="PolicyDirEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicySpiCapability">
        <xs:complexContent>
            <xs:extension base="PolicyCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="spi" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyReqidCapability">
        <xs:complexContent>
            <xs:extension base="PolicyCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="reqID" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplayCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplayWindowCapability">
        <xs:complexContent>
            <xs:extension base="ReplayCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="size" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplaySeqCapability">
        <xs:complexContent>
            <xs:extension base="ReplayCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="seq" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplaySeqHiCapability">
        <xs:complexContent>
            <xs:extension base="ReplayCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="seq" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplayOseqCapability">
        <xs:complexContent>
            <xs:extension base="ReplayCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="seq" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplayOseqHiCapability">
        <xs:complexContent>
            <xs:extension base="ReplayCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="seq" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SequenceBaseCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SequenceCapability">
        <xs:complexContent>
            <xs:extension base="SequenceBaseCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="seq" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PriorityBaseCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PriorityCapability">
        <xs:complexContent>
            <xs:extension base="PriorityBaseCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="priority" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConnmarkBaseConditionCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConnmarkCapability">
        <xs:complexContent>
            <xs:extension base="ConnmarkBaseConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:integer"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="mask" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LimitXFRMCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="LimitTypeEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LevelBaseCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LevelCapability">
        <xs:complexContent>
            <xs:extension base="LevelBaseCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="mode" type="LevelEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DevGroupCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DevDestGroupCapability">
        <xs:complexContent>
            <xs:extension base="DevGroupCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="groupName" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TransformPacketCapability">
        <xs:complexContent>
            <xs:extension base="ActionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TransformPacketDecorator">
        <xs:complexContent>
            <xs:extension base="TransformPacketCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transformPacketCapability" type="TransformPacketCapability"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PacketEncapsulation">
        <xs:complexContent>
            <xs:extension base="TransformPacketDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="mode" type="PolicyModeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DataAuthenticationCapability">
        <xs:complexContent>
            <xs:extension base="TransformPacketDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="authAlgoMode" type="AuthenticationType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="key" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="truncationLenght" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EncryptionCapability">
        <xs:complexContent>
            <xs:extension base="TransformPacketDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="encAlgoMode" type="EncryptionType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="key" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AutoExchangeTypeCapability">
        <xs:complexContent>
            <xs:extension base="KeyExchangeCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="IkeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkeCapability">
        <xs:complexContent>
            <xs:extension base="AutoExchangeTypeCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="algoEnc" type="EncryptionAlgoEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="mode" type="ModeForAEADEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="algoHash" type="HashAlgorithmEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="dhgroup" type="DiffieHellmanEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TypeOfEncap">
        <xs:complexContent>
            <xs:extension base="PacketEncapsulation">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="packetEncapsulation" type="PacketEncapsulation"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="srcPort" type="RangeOperatorType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="dstPort" type="RangeOperatorType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="originalAddr" type="AddressTypeEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="encapMode" type="EncapModeEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="forceencaps" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CompressionCapability">
        <xs:complexContent>
            <xs:extension base="TransformPacketDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="algo" type="CompressionAlgoEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="choice" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="L4Capability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CommonL4Capability">
        <xs:complexContent>
            <xs:extension base="L4Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PortCapability">
        <xs:complexContent>
            <xs:extension base="CommonL4Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourcePortCapability">
        <xs:complexContent>
            <xs:extension base="PortCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="port" type="PortType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationPortCapability">
        <xs:complexContent>
            <xs:extension base="PortCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="port" type="PortType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FlagSecurityAssociationCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FlagCapability">
        <xs:complexContent>
            <xs:extension base="FlagSecurityAssociationCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="flag" type="FlagXFRMEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Extra-FlagCapability">
        <xs:complexContent>
            <xs:extension base="FlagSecurityAssociationCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="extra-flag" type="Extra-FlagXFRMEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpProtocolTypeCapability">
        <xs:complexContent>
            <xs:extension base="Ipv4Capability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="protocolType" type="ProtocolType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IcmpCapability">
        <xs:complexContent>
            <xs:extension base="L3Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IcmpTypeCapability">
        <xs:complexContent>
            <xs:extension base="IcmpCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="typeName" type="IcmpTypeEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="code" type="xs:integer"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Icmp6Capability">
        <xs:complexContent>
            <xs:extension base="L3Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Icmp6TypeCapability">
        <xs:complexContent>
            <xs:extension base="Icmp6Capability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="typeName" type="Icmp6TypeEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="code" type="xs:integer"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MobilityHeaderCapability">
        <xs:complexContent>
            <xs:extension base="L4Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MhTypeCapability">
        <xs:complexContent>
            <xs:extension base="MobilityHeaderCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="2" minOccurs="0" name="type" type="MhTypeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GreBaseCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GreCapability">
        <xs:complexContent>
            <xs:extension base="GreBaseCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="key" type="HexadecimalType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AcceptCapability">
        <xs:complexContent>
            <xs:extension base="ActionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RejectCapability">
        <xs:complexContent>
            <xs:extension base="ActionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyCommandCapability">
        <xs:complexContent>
            <xs:extension base="PolicyCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="command" type="IpSecActionEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IPSecRuleTypeCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="ipSecAction" type="IpSecActionEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SelectorCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TemplateCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NSFTranslatorAdapter"/>
    <xs:complexType name="LanguageModelGenerator"/>
    <xs:complexType name="Metadata"/>
    <xs:complexType name="NSFPolicyDetails">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" name="ruleStart" type="xs:string"/>
            <xs:element maxOccurs="1" name="ruleEnd" type="xs:string"/>
            <xs:element maxOccurs="1" name="policyTrailer" type="xs:string"/>
            <xs:element maxOccurs="1" name="policyEncoding" type="xs:string"/>
            <xs:element name="policyAttribute" type="PolicyAttributeType"/>
            <xs:element maxOccurs="1" name="defaultSecurityCapability" type="xs:string"/>
            <xs:element name="ruleAttribute" type="RuleAttributeType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ruleAttributeDetails" type="RuleAttributeDetailsType"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AuthenticationType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="mode" type="MACAlgorithmEnumeration"/>
            <xs:element name="algoHash" type="HashAlgorithmEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptionType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="mode" type="ModeForEncryptionEnumeration"/>
            <xs:element name="algoEnc" type="EncryptionAlgoEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="HexadecimalType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element default="[0x]?[0-9a-fA-F]+" maxOccurs="1" name="value" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IpOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="range" type="RangeOperatorType"/>
            <xs:element name="rangeMask" type="Ipv4MaskRangeOperatorType"/>
            <xs:element name="rangeCIDR" type="Ipv4MaskCIDRRangeOperatorType"/>
            <xs:element name="union" type="UnionOperatorType"/>
            <xs:element default="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" maxOccurs="1" name="exactMatch" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProtocolType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="protocolTypeName" type="ProtocolTypeEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="range" type="RangeOperatorType"/>
            <xs:element name="union" type="UnionOperatorType"/>
            <xs:element maxOccurs="1" name="exactMatch" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnionOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="unbounded" minOccurs="0" name="elementRange" type="ElementRangeType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="elementValue" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RangeOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="start" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="end" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ElementRangeType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="range" type="RangeOperatorType"/>
            <xs:element name="rangeMask" type="Ipv4MaskRangeOperatorType"/>
            <xs:element name="rangeCIDR" type="Ipv4MaskCIDRRangeOperatorType"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Ipv4MaskCIDRRangeOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element default="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" maxOccurs="1" name="address" type="xs:string"/>
            <xs:element default="^([0-9]|[1-2][0-9]|3[0-2])?$" maxOccurs="1" minOccurs="0" name="maskCIDR" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" name="startValue" type="xs:string"/>
            <xs:element maxOccurs="1" name="endValue" type="xs:string"/>
            <xs:element name="startName" type="ServicePortNameEnumeration"/>
            <xs:element name="endName" type="ServicePortNameEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Ipv4MaskRangeOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element default="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" maxOccurs="1" name="address" type="xs:string"/>
            <xs:element default="^(((255\.){3}(255|254|252|248|240|224|192|128|0+))|((255\.){2}(255|254|252|248|240|224|192|128|0+)\.0)|((255\.)(255|254|252|248|240|224|192|128|0+)(\.0+){2})|((255|254|252|248|240|224|192|128|0+)(\.0+){3}))$" maxOccurs="1" minOccurs="0" name="mask" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PolicyAttributeType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="attributeName" type="PolicyAttributeEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ActionOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="propList" type="ProposalOperatorType"/>
            <xs:element maxOccurs="1" name="exactMatch" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProposalOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="proposal" type="CipherSuitesType"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CipherSuitesType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="algoEnc" type="EncryptionAlgoEnumeration"/>
            <xs:element maxOccurs="1" minOccurs="0" name="mode" type="ModeForAEADEnumeration"/>
            <xs:element maxOccurs="1" minOccurs="0" name="algoHash" type="HashAlgorithmEnumeration"/>
            <xs:element maxOccurs="1" minOccurs="0" name="dhgroup" type="DiffieHellmanEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RuleAttributeType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="attributeName" type="RuleAttributeEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RuleAttributeDetailsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="unbounded" minOccurs="0" name="mappingDetails" type="MappingDetailsType"/>
        </xs:choice>
        <xs:attribute name="ref" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="MappingDetailsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" name="key" type="xs:string"/>
            <xs:element maxOccurs="1" name="value" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProtocolTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOPOPT"/>
            <xs:enumeration value="ICMP"/>
            <xs:enumeration value="IGMP"/>
            <xs:enumeration value="GGP"/>
            <xs:enumeration value="ST"/>
            <xs:enumeration value="TCP"/>
            <xs:enumeration value="EGP"/>
            <xs:enumeration value="IGP"/>
            <xs:enumeration value="PUP"/>
            <xs:enumeration value="UDP"/>
            <xs:enumeration value="HMP"/>
            <xs:enumeration value="XNS-IDP"/>
            <xs:enumeration value="RDP"/>
            <xs:enumeration value="ISO-TP4"/>
            <xs:enumeration value="DCCP"/>
            <xs:enumeration value="XTP"/>
            <xs:enumeration value="DDP"/>
            <xs:enumeration value="IDPR-CMTP"/>
            <xs:enumeration value="IPv6"/>
            <xs:enumeration value="IPv6-Route"/>
            <xs:enumeration value="IPv6-Frag"/>
            <xs:enumeration value="IDRP"/>
            <xs:enumeration value="RSVP"/>
            <xs:enumeration value="GRE"/>
            <xs:enumeration value="SKIP"/>
            <xs:enumeration value="IPv6-ICMP"/>
            <xs:enumeration value="IPv6-NoNxt"/>
            <xs:enumeration value="IPv6-Opts"/>
            <xs:enumeration value="CPHB"/>
            <xs:enumeration value="VMTP"/>
            <xs:enumeration value="EIGRP"/>
            <xs:enumeration value="AX.25"/>
            <xs:enumeration value="ETHERIP"/>
            <xs:enumeration value="ENCAP"/>
            <xs:enumeration value="PIM"/>
            <xs:enumeration value="VRRP"/>
            <xs:enumeration value="L2TP"/>
            <xs:enumeration value="SCTP"/>
            <xs:enumeration value="FC"/>
            <xs:enumeration value="UDPLite"/>
            <xs:enumeration value="MPLS-in-IP"/>
            <xs:enumeration value="HIP"/>
            <xs:enumeration value="Shim6"/>
            <xs:enumeration value="WESP"/>
            <xs:enumeration value="ROHC"/>
            <xs:enumeration value="hopopt"/>
            <xs:enumeration value="icmp"/>
            <xs:enumeration value="igmp"/>
            <xs:enumeration value="ggp"/>
            <xs:enumeration value="ip-encap"/>
            <xs:enumeration value="st"/>
            <xs:enumeration value="tcp"/>
            <xs:enumeration value="egp"/>
            <xs:enumeration value="igp"/>
            <xs:enumeration value="pup"/>
            <xs:enumeration value="udp"/>
            <xs:enumeration value="hmp"/>
            <xs:enumeration value="xns-idp"/>
            <xs:enumeration value="rdp"/>
            <xs:enumeration value="iso-tp4"/>
            <xs:enumeration value="dccp"/>
            <xs:enumeration value="xtp"/>
            <xs:enumeration value="ddp"/>
            <xs:enumeration value="idpr-cmtp"/>
            <xs:enumeration value="ipv6"/>
            <xs:enumeration value="ipv6-route"/>
            <xs:enumeration value="ipv6-frag"/>
            <xs:enumeration value="idrp"/>
            <xs:enumeration value="rsvp"/>
            <xs:enumeration value="gre"/>
            <xs:enumeration value="ipsec-esp"/>
            <xs:enumeration value="ipsec-ah"/>
            <xs:enumeration value="skip"/>
            <xs:enumeration value="ipv6-icmp"/>
            <xs:enumeration value="ipv6-nonxt"/>
            <xs:enumeration value="ipv6-opts"/>
            <xs:enumeration value="rspf"/>
            <xs:enumeration value="cphb"/>
            <xs:enumeration value="vmtp"/>
            <xs:enumeration value="eigrp"/>
            <xs:enumeration value="ospfigp"/>
            <xs:enumeration value="ax.25"/>
            <xs:enumeration value="ipip"/>
            <xs:enumeration value="etherip"/>
            <xs:enumeration value="encap"/>
            <xs:enumeration value="pim"/>
            <xs:enumeration value="ipcomp"/>
            <xs:enumeration value="vrrp"/>
            <xs:enumeration value="l2tp"/>
            <xs:enumeration value="isis"/>
            <xs:enumeration value="sctp"/>
            <xs:enumeration value="fc"/>
            <xs:enumeration value="mh"/>
            <xs:enumeration value="MH"/>
            <xs:enumeration value="udplite"/>
            <xs:enumeration value="mpls-in-ip"/>
            <xs:enumeration value="hip"/>
            <xs:enumeration value="shim6"/>
            <xs:enumeration value="wesp"/>
            <xs:enumeration value="rohc"/>
            <xs:enumeration value="esp"/>
            <xs:enumeration value="ah"/>
            <xs:enumeration value="comp"/>
            <xs:enumeration value="IP-ENCAP"/>
            <xs:enumeration value="IPSEC-ESP"/>
            <xs:enumeration value="IPSEC-AH"/>
            <xs:enumeration value="RSPF"/>
            <xs:enumeration value="OSPFIGP"/>
            <xs:enumeration value="IPIP"/>
            <xs:enumeration value="IPCOMP"/>
            <xs:enumeration value="ISIS"/>
            <xs:enumeration value="Mobility-Header"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CpuConditionCapabilityIntegerRestriction">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="7"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="AddressTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="unspec"/>
            <xs:enumeration value="unicast"/>
            <xs:enumeration value="local"/>
            <xs:enumeration value="broadcast"/>
            <xs:enumeration value="anycast"/>
            <xs:enumeration value="multicast"/>
            <xs:enumeration value="blackhole"/>
            <xs:enumeration value="unreachable"/>
            <xs:enumeration value="prohibit"/>
            <xs:enumeration value="throw"/>
            <xs:enumeration value="nat"/>
            <xs:enumeration value="xresolve"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ChoiceEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CompressionAlgoEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="deflate"/>
            <xs:enumeration value="lzs"/>
            <xs:enumeration value="lzjh"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DiffieHellmanEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="modp2048"/>
            <xs:enumeration value="modp3072"/>
            <xs:enumeration value="modp4096"/>
            <xs:enumeration value="modp6144"/>
            <xs:enumeration value="modp8192"/>
            <xs:enumeration value="ecp224"/>
            <xs:enumeration value="ecp256"/>
            <xs:enumeration value="ecp384"/>
            <xs:enumeration value="ecp521"/>
            <xs:enumeration value="ecp224bp"/>
            <xs:enumeration value="ecp256bp"/>
            <xs:enumeration value="ecp384bp"/>
            <xs:enumeration value="ecp512bp"/>
            <xs:enumeration value="curve25519"/>
            <xs:enumeration value="x25519"/>
            <xs:enumeration value="curve448"/>
            <xs:enumeration value="x448"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EncapModeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="espintcp"/>
            <xs:enumeration value="espinudp"/>
            <xs:enumeration value="espinudp-nonike"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EncryptionAlgoEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="aes128"/>
            <xs:enumeration value="aes192"/>
            <xs:enumeration value="aes256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Extra-FlagXFRMEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="dont-encap-dscp"/>
            <xs:enumeration value="oseq-may-wrap"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FlagXFRMEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="noecn"/>
            <xs:enumeration value="decap-dscp"/>
            <xs:enumeration value="nopmtudisc "/>
            <xs:enumeration value="wildrecv "/>
            <xs:enumeration value="icmp"/>
            <xs:enumeration value="af-unspec"/>
            <xs:enumeration value="align4"/>
            <xs:enumeration value="esn"/>
            <xs:enumeration value="localok"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HashAlgorithmEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="sha1"/>
            <xs:enumeration value="sha256"/>
            <xs:enumeration value="sha384"/>
            <xs:enumeration value="sha512"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Icmp6TypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="destination-unreachable"/>
            <xs:enumeration value="no-route"/>
            <xs:enumeration value="communication-prohibited"/>
            <xs:enumeration value="beyond-scope"/>
            <xs:enumeration value="address-unreachable"/>
            <xs:enumeration value="port-unreachable"/>
            <xs:enumeration value="failed-policy"/>
            <xs:enumeration value="reject-route"/>
            <xs:enumeration value="packet-too-big"/>
            <xs:enumeration value="time-exceeded"/>
            <xs:enumeration value="ttl-exceeded"/>
            <xs:enumeration value="ttl-zero-during-transit"/>
            <xs:enumeration value="ttl-zero-during-reassembly"/>
            <xs:enumeration value="parameter-problem"/>
            <xs:enumeration value="bad-header"/>
            <xs:enumeration value="unknown-header-type"/>
            <xs:enumeration value="unknown-option"/>
            <xs:enumeration value="echo-request"/>
            <xs:enumeration value="ping"/>
            <xs:enumeration value="echo-reply"/>
            <xs:enumeration value="pong"/>
            <xs:enumeration value="router-solicitation"/>
            <xs:enumeration value="router-advertisement"/>
            <xs:enumeration value="neighbour-solicitation"/>
            <xs:enumeration value="neighbor-solicitation"/>
            <xs:enumeration value="neighbour-advertisement"/>
            <xs:enumeration value="neighbor-advertisement"/>
            <xs:enumeration value="redirect"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IcmpTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="echo-reply"/>
            <xs:enumeration value="destination-unreachable"/>
            <xs:enumeration value="network-unreachable"/>
            <xs:enumeration value="host-unreachable"/>
            <xs:enumeration value="protocol-unreachable"/>
            <xs:enumeration value="port-unreachable"/>
            <xs:enumeration value="fragmentation-needed"/>
            <xs:enumeration value="source-route-failed"/>
            <xs:enumeration value="destination-network-unknown"/>
            <xs:enumeration value="destination-host-unknown"/>
            <xs:enumeration value="source-host-isolated"/>
            <xs:enumeration value="network-prohibited"/>
            <xs:enumeration value="destination-host-prohibited"/>
            <xs:enumeration value="tos-network-unreachable"/>
            <xs:enumeration value="tos-host-unreachable"/>
            <xs:enumeration value="communication-prohibited"/>
            <xs:enumeration value="host-precedence-violation"/>
            <xs:enumeration value="precedence-cutoff"/>
            <xs:enumeration value="source-quench"/>
            <xs:enumeration value="redirect"/>
            <xs:enumeration value="network-redirect"/>
            <xs:enumeration value="host-redirect"/>
            <xs:enumeration value="tos-network-redirect"/>
            <xs:enumeration value="tos-host-redirect"/>
            <xs:enumeration value="echo-request"/>
            <xs:enumeration value="router-advertisement"/>
            <xs:enumeration value="router-solicitation"/>
            <xs:enumeration value="time-exceeded"/>
            <xs:enumeration value="ttl-zero-during-transit"/>
            <xs:enumeration value="ttl-zero-during-reassembly"/>
            <xs:enumeration value="parameter-problem"/>
            <xs:enumeration value="ip-header-bad"/>
            <xs:enumeration value="required-option-missing"/>
            <xs:enumeration value="timestamp-request"/>
            <xs:enumeration value="timestamp-reply"/>
            <xs:enumeration value="information-request"/>
            <xs:enumeration value="information-reply"/>
            <xs:enumeration value="address-mask-request"/>
            <xs:enumeration value="address-mask-reply"/>
            <xs:enumeration value="traceroute"/>
            <xs:enumeration value="ping"/>
            <xs:enumeration value="pong"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IkeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ike"/>
            <xs:enumeration value="ikev1"/>
            <xs:enumeration value="ikev2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LevelEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="use"/>
            <xs:enumeration value="require"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="time-soft"/>
            <xs:enumeration value="time-hard"/>
            <xs:enumeration value="time-use-soft"/>
            <xs:enumeration value="time-use-hard"/>
            <xs:enumeration value="byte-soft"/>
            <xs:enumeration value="byte-hard"/>
            <xs:enumeration value="packet-soft"/>
            <xs:enumeration value="packet-hard"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MACAlgorithmEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="gmac"/>
            <xs:enumeration value="hmac"/>
            <xs:enumeration value="xcbc"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IpSecActionEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="add"/>
            <xs:enumeration value="update"/>
            <xs:enumeration value="delete"/>
            <xs:enumeration value="deleteall"/>
            <xs:enumeration value="get"/>
            <xs:enumeration value="list"/>
            <xs:enumeration value="flush"/>
            <xs:enumeration value="count"/>
            <xs:enumeration value="allocspi"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MhTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="binding-refresh-request"/>
            <xs:enumeration value="home-test-init"/>
            <xs:enumeration value="careof-test-init"/>
            <xs:enumeration value="home-test"/>
            <xs:enumeration value="careof-test"/>
            <xs:enumeration value="binding-update"/>
            <xs:enumeration value="binding-acknowledgement"/>
            <xs:enumeration value="binding-error"/>
            <xs:enumeration value="brr"/>
            <xs:enumeration value="hoti"/>
            <xs:enumeration value="coti"/>
            <xs:enumeration value="hot"/>
            <xs:enumeration value="cot"/>
            <xs:enumeration value="bu"/>
            <xs:enumeration value="ba"/>
            <xs:enumeration value="be"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModeForAEADEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ccm8"/>
            <xs:enumeration value="ccm12"/>
            <xs:enumeration value="ccm16"/>
            <xs:enumeration value="ccm64"/>
            <xs:enumeration value="ccm96"/>
            <xs:enumeration value="ccm128"/>
            <xs:enumeration value="gcm8"/>
            <xs:enumeration value="gcm12"/>
            <xs:enumeration value="gcm16"/>
            <xs:enumeration value="gcm64"/>
            <xs:enumeration value="gcm96"/>
            <xs:enumeration value="gcm128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModeForEncryptionEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="cbc"/>
            <xs:enumeration value="ctr"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OperationTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNKNOWN"/>
            <xs:enumeration value="GREATER_THAN"/>
            <xs:enumeration value="GREATER_THAN_OR_EQUAL_TO"/>
            <xs:enumeration value="LESS_THAN"/>
            <xs:enumeration value="LESS_THAN_OR_EQUAL_TO"/>
            <xs:enumeration value="EQUAL_TO"/>
            <xs:enumeration value="NOT_EQUAL_TO"/>
            <xs:enumeration value="IN"/>
            <xs:enumeration value="NOT_IN"/>
            <xs:enumeration value="SET"/>
            <xs:enumeration value="CLEAR"/>
            <xs:enumeration value="BETWEEN"/>
            <xs:enumeration value="AND"/>
            <xs:enumeration value="OR"/>
            <xs:enumeration value="XOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PolicyDirEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="in"/>
            <xs:enumeration value="out"/>
            <xs:enumeration value="fwd"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PolicyModeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tunnel"/>
            <xs:enumeration value="transport"/>
            <xs:enumeration value="beet"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PolicyTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="main"/>
            <xs:enumeration value="sub"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SupportedConditionOperatorEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="exactMatch"/>
            <xs:enumeration value="union"/>
            <xs:enumeration value="range"/>
            <xs:enumeration value="rangeMask"/>
            <xs:enumeration value="rangeCIDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PolicyAttributeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="targetRuleSet"/>
            <xs:enumeration value="ipSecAction"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SupportedActionOperatorEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="proposal"/>
            <xs:enumeration value="exactMatch"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RuleAttributeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ruleType"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ServicePortNameEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tcpmux"/>
            <xs:enumeration value="discard"/>
            <xs:enumeration value="systat"/>
            <xs:enumeration value="daytime"/>
            <xs:enumeration value="netstat"/>
            <xs:enumeration value="qotd"/>
            <xs:enumeration value="msp"/>
            <xs:enumeration value="chargen"/>
            <xs:enumeration value="ftp-data"/>
            <xs:enumeration value="ftp"/>
            <xs:enumeration value="ssh"/>
            <xs:enumeration value="telnet"/>
            <xs:enumeration value="smtp"/>
            <xs:enumeration value="time"/>
            <xs:enumeration value="rlp"/>
            <xs:enumeration value="nameserver"/>
            <xs:enumeration value="whois"/>
            <xs:enumeration value="tacacs"/>
            <xs:enumeration value="re-mail-ck"/>
            <xs:enumeration value="domain"/>
            <xs:enumeration value="tacacs-ds"/>
            <xs:enumeration value="bootps"/>
            <xs:enumeration value="bootpc"/>
            <xs:enumeration value="tftp"/>
            <xs:enumeration value="gopher"/>
            <xs:enumeration value="finger"/>
            <xs:enumeration value="http"/>
            <xs:enumeration value="link"/>
            <xs:enumeration value="kerberos"/>
            <xs:enumeration value="supdup"/>
            <xs:enumeration value="hostnames"/>
            <xs:enumeration value="iso-tsap"/>
            <xs:enumeration value="acr-nema"/>
            <xs:enumeration value="csnet-ns"/>
            <xs:enumeration value="rtelnet"/>
            <xs:enumeration value="pop3"/>
            <xs:enumeration value="sunrpc"/>
            <xs:enumeration value="auth"/>
            <xs:enumeration value="sftp"/>
            <xs:enumeration value="nntp"/>
            <xs:enumeration value="ntp"/>
            <xs:enumeration value="pwdgen"/>
            <xs:enumeration value="loc-srv"/>
            <xs:enumeration value="netbios-ns"/>
            <xs:enumeration value="netbios-dgm"/>
            <xs:enumeration value="netbios-ssn"/>
            <xs:enumeration value="imap2"/>
            <xs:enumeration value="snmp"/>
            <xs:enumeration value="snmp-trap"/>
            <xs:enumeration value="cmip-man"/>
            <xs:enumeration value="cmip-agent"/>
            <xs:enumeration value="mailq"/>
            <xs:enumeration value="xdmcp"/>
            <xs:enumeration value="nextstep"/>
            <xs:enumeration value="bgp"/>
            <xs:enumeration value="irc"/>
            <xs:enumeration value="smux"/>
            <xs:enumeration value="at-rtmp"/>
            <xs:enumeration value="at-nbp"/>
            <xs:enumeration value="at-echo"/>
            <xs:enumeration value="at-zis"/>
            <xs:enumeration value="qmtp"/>
            <xs:enumeration value="z3950"/>
            <xs:enumeration value="ipx"/>
            <xs:enumeration value="pawserv"/>
            <xs:enumeration value="zserv"/>
            <xs:enumeration value="fatserv"/>
            <xs:enumeration value="rpc2portmap"/>
            <xs:enumeration value="codaauth2"/>
            <xs:enumeration value="clearcase"/>
            <xs:enumeration value="ulistserv"/>
            <xs:enumeration value="ldap"/>
            <xs:enumeration value="imsp"/>
            <xs:enumeration value="svrloc"/>
            <xs:enumeration value="https"/>
            <xs:enumeration value="snpp"/>
            <xs:enumeration value="microsoft-ds"/>
            <xs:enumeration value="kpasswd"/>
            <xs:enumeration value="urd"/>
            <xs:enumeration value="saft"/>
            <xs:enumeration value="isakmp"/>
            <xs:enumeration value="rtsp"/>
            <xs:enumeration value="nqs"/>
            <xs:enumeration value="npmp-local"/>
            <xs:enumeration value="npmp-gui"/>
            <xs:enumeration value="hmmp-ind"/>
            <xs:enumeration value="asf-rmcp"/>
            <xs:enumeration value="qmqp"/>
            <xs:enumeration value="ipp"/>
            <xs:enumeration value="exec"/>
            <xs:enumeration value="login"/>
            <xs:enumeration value="shell"/>
            <xs:enumeration value="printer"/>
            <xs:enumeration value="talk"/>
            <xs:enumeration value="ntalk"/>
            <xs:enumeration value="route"/>
            <xs:enumeration value="timed"/>
            <xs:enumeration value="tempo"/>
            <xs:enumeration value="courier"/>
            <xs:enumeration value="conference"/>
            <xs:enumeration value="netnews"/>
            <xs:enumeration value="netwall"/>
            <xs:enumeration value="gdomap"/>
            <xs:enumeration value="uucp"/>
            <xs:enumeration value="klogin"/>
            <xs:enumeration value="kshell"/>
            <xs:enumeration value="dhcpv6-client"/>
            <xs:enumeration value="dhcpv6-server"/>
            <xs:enumeration value="afpovertcp"/>
            <xs:enumeration value="idfp"/>
            <xs:enumeration value="remotefs"/>
            <xs:enumeration value="nntps"/>
            <xs:enumeration value="submission"/>
            <xs:enumeration value="ldaps"/>
            <xs:enumeration value="tinc"/>
            <xs:enumeration value="silc"/>
            <xs:enumeration value="kerberos-adm"/>
            <xs:enumeration value="webster"/>
            <xs:enumeration value="rsync"/>
            <xs:enumeration value="ftps-data"/>
            <xs:enumeration value="ftps"/>
            <xs:enumeration value="telnets"/>
            <xs:enumeration value="imaps"/>
            <xs:enumeration value="pop3s"/>
            <xs:enumeration value="socks"/>
            <xs:enumeration value="proofd"/>
            <xs:enumeration value="rootd"/>
            <xs:enumeration value="openvpn"/>
            <xs:enumeration value="rmiregistry"/>
            <xs:enumeration value="kazaa"/>
            <xs:enumeration value="nessus"/>
            <xs:enumeration value="lotusnote"/>
            <xs:enumeration value="ms-sql-s"/>
            <xs:enumeration value="ms-sql-m"/>
            <xs:enumeration value="ingreslock"/>
            <xs:enumeration value="datametrics"/>
            <xs:enumeration value="sa-msg-port"/>
            <xs:enumeration value="kermit"/>
            <xs:enumeration value="groupwise"/>
            <xs:enumeration value="l2f"/>
            <xs:enumeration value="radius"/>
            <xs:enumeration value="radius-acct"/>
            <xs:enumeration value="msnp"/>
            <xs:enumeration value="unix-status"/>
            <xs:enumeration value="log-server"/>
            <xs:enumeration value="remoteping"/>
            <xs:enumeration value="cisco-sccp"/>
            <xs:enumeration value="search"/>
            <xs:enumeration value="nfs"/>
            <xs:enumeration value="gnunet"/>
            <xs:enumeration value="rtcm-sc104"/>
            <xs:enumeration value="gsigatekeeper"/>
            <xs:enumeration value="gris"/>
            <xs:enumeration value="cvspserver"/>
            <xs:enumeration value="venus"/>
            <xs:enumeration value="venus-se"/>
            <xs:enumeration value="codasrv"/>
            <xs:enumeration value="codasrv-se"/>
            <xs:enumeration value="mon"/>
            <xs:enumeration value="dict"/>
            <xs:enumeration value="f5-globalsite"/>
            <xs:enumeration value="gsiftp"/>
            <xs:enumeration value="gpsd"/>
            <xs:enumeration value="gds-db"/>
            <xs:enumeration value="icpv2"/>
            <xs:enumeration value="isns"/>
            <xs:enumeration value="iscsi-target"/>
            <xs:enumeration value="mysql"/>
            <xs:enumeration value="nut"/>
            <xs:enumeration value="distcc"/>
            <xs:enumeration value="daap"/>
            <xs:enumeration value="svn"/>
            <xs:enumeration value="suucp"/>
            <xs:enumeration value="sysrqd"/>
            <xs:enumeration value="sieve"/>
            <xs:enumeration value="epmd"/>
            <xs:enumeration value="remctl"/>
            <xs:enumeration value="f5-iquery"/>
            <xs:enumeration value="ipsec-nat-t"/>
            <xs:enumeration value="iax"/>
            <xs:enumeration value="mtn"/>
            <xs:enumeration value="radmin-port"/>
            <xs:enumeration value="rfe"/>
            <xs:enumeration value="mmcc"/>
            <xs:enumeration value="sip"/>
            <xs:enumeration value="sip-tls"/>
            <xs:enumeration value="aol"/>
            <xs:enumeration value="xmpp-client"/>
            <xs:enumeration value="xmpp-server"/>
            <xs:enumeration value="cfengine"/>
            <xs:enumeration value="mdns"/>
            <xs:enumeration value="postgresql"/>
            <xs:enumeration value="freeciv"/>
            <xs:enumeration value="amqps"/>
            <xs:enumeration value="amqp"/>
            <xs:enumeration value="ggz"/>
            <xs:enumeration value="x11"/>
            <xs:enumeration value="x11-1"/>
            <xs:enumeration value="x11-2"/>
            <xs:enumeration value="x11-3"/>
            <xs:enumeration value="x11-4"/>
            <xs:enumeration value="x11-5"/>
            <xs:enumeration value="x11-6"/>
            <xs:enumeration value="x11-7"/>
            <xs:enumeration value="gnutella-svc"/>
            <xs:enumeration value="gnutella-rtr"/>
            <xs:enumeration value="sge-qmaster"/>
            <xs:enumeration value="sge-execd"/>
            <xs:enumeration value="mysql-proxy"/>
            <xs:enumeration value="babel"/>
            <xs:enumeration value="ircs-u"/>
            <xs:enumeration value="afs3-fileserver"/>
            <xs:enumeration value="afs3-callback"/>
            <xs:enumeration value="afs3-prserver"/>
            <xs:enumeration value="afs3-vlserver"/>
            <xs:enumeration value="afs3-kaserver"/>
            <xs:enumeration value="afs3-volser"/>
            <xs:enumeration value="afs3-errors"/>
            <xs:enumeration value="afs3-bos"/>
            <xs:enumeration value="afs3-update"/>
            <xs:enumeration value="afs3-rmtsys"/>
            <xs:enumeration value="font-service"/>
            <xs:enumeration value="http-alt"/>
            <xs:enumeration value="puppet"/>
            <xs:enumeration value="bacula-dir"/>
            <xs:enumeration value="bacula-fd"/>
            <xs:enumeration value="bacula-sd"/>
            <xs:enumeration value="xmms2"/>
            <xs:enumeration value="nbd"/>
            <xs:enumeration value="zabbix-agent"/>
            <xs:enumeration value="zabbix-trapper"/>
            <xs:enumeration value="amanda"/>
            <xs:enumeration value="dicom"/>
            <xs:enumeration value="hkp"/>
            <xs:enumeration value="bprd"/>
            <xs:enumeration value="bpdbm"/>
            <xs:enumeration value="bpjava-msvc"/>
            <xs:enumeration value="vnetd"/>
            <xs:enumeration value="bpcd"/>
            <xs:enumeration value="vopied"/>
            <xs:enumeration value="db-lsp"/>
            <xs:enumeration value="dcap"/>
            <xs:enumeration value="gsidcap"/>
            <xs:enumeration value="wnn6"/>
            <xs:enumeration value="nbp"/>
            <xs:enumeration value="echo"/>
            <xs:enumeration value="zip"/>
            <xs:enumeration value="kerberos4"/>
            <xs:enumeration value="kerberos-master"/>
            <xs:enumeration value="passwd-server"/>
            <xs:enumeration value="krb-prop"/>
            <xs:enumeration value="krbupdate"/>
            <xs:enumeration value="swat"/>
            <xs:enumeration value="kpop"/>
            <xs:enumeration value="knetd"/>
            <xs:enumeration value="zephyr-srv"/>
            <xs:enumeration value="zephyr-clt"/>
            <xs:enumeration value="zephyr-hm"/>
            <xs:enumeration value="eklogin"/>
            <xs:enumeration value="kx"/>
            <xs:enumeration value="iprop"/>
            <xs:enumeration value="supfilesrv"/>
            <xs:enumeration value="supfiledbg"/>
            <xs:enumeration value="linuxconf"/>
            <xs:enumeration value="poppassd"/>
            <xs:enumeration value="moira-db"/>
            <xs:enumeration value="moira-update"/>
            <xs:enumeration value="moira-ureg"/>
            <xs:enumeration value="spamd"/>
            <xs:enumeration value="omirr"/>
            <xs:enumeration value="customs"/>
            <xs:enumeration value="skkserv"/>
            <xs:enumeration value="predict"/>
            <xs:enumeration value="rmtcfg"/>
            <xs:enumeration value="wipld"/>
            <xs:enumeration value="xtel"/>
            <xs:enumeration value="xtelw"/>
            <xs:enumeration value="support"/>
            <xs:enumeration value="cfinger"/>
            <xs:enumeration value="ninstall"/>
            <xs:enumeration value="zebrasrv"/>
            <xs:enumeration value="zebra"/>
            <xs:enumeration value="ripd"/>
            <xs:enumeration value="ripngd"/>
            <xs:enumeration value="ospfd"/>
            <xs:enumeration value="bgpd"/>
            <xs:enumeration value="ospf6d"/>
            <xs:enumeration value="ospfapi"/>
            <xs:enumeration value="isisd"/>
            <xs:enumeration value="afbackup"/>
            <xs:enumeration value="afmbackup"/>
            <xs:enumeration value="xtell"/>
            <xs:enumeration value="fax"/>
            <xs:enumeration value="hylafax"/>
            <xs:enumeration value="distmp3"/>
            <xs:enumeration value="munin"/>
            <xs:enumeration value="enbd-cstatd"/>
            <xs:enumeration value="enbd-sstatd"/>
            <xs:enumeration value="pcrd"/>
            <xs:enumeration value="noclog"/>
            <xs:enumeration value="hostmon"/>
            <xs:enumeration value="rplay"/>
            <xs:enumeration value="nrpe"/>
            <xs:enumeration value="nsca"/>
            <xs:enumeration value="mrtd"/>
            <xs:enumeration value="bgpsim"/>
            <xs:enumeration value="canna"/>
            <xs:enumeration value="syslog-tls"/>
            <xs:enumeration value="sane-port"/>
            <xs:enumeration value="ircd"/>
            <xs:enumeration value="zope-ftp"/>
            <xs:enumeration value="tproxy"/>
            <xs:enumeration value="omniorb"/>
            <xs:enumeration value="clc-build-daemon"/>
            <xs:enumeration value="xinetd"/>
            <xs:enumeration value="mandelspawn"/>
            <xs:enumeration value="git"/>
            <xs:enumeration value="zope"/>
            <xs:enumeration value="webmin"/>
            <xs:enumeration value="kamanda"/>
            <xs:enumeration value="amandaidx"/>
            <xs:enumeration value="amidxtape"/>
            <xs:enumeration value="smsqp"/>
            <xs:enumeration value="xpilot"/>
            <xs:enumeration value="sgi-cmsd"/>
            <xs:enumeration value="sgi-crsd"/>
            <xs:enumeration value="sgi-gcd"/>
            <xs:enumeration value="sgi-cad"/>
            <xs:enumeration value="isdnlog"/>
            <xs:enumeration value="vboxd"/>
            <xs:enumeration value="binkp"/>
            <xs:enumeration value="asp"/>
            <xs:enumeration value="csync2"/>
            <xs:enumeration value="dircproxy"/>
            <xs:enumeration value="tfido"/>
            <xs:enumeration value="fido"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
