enforcer/uploads/languageGenerator/language_StrongSwan.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="policy" type="Policy"/>
    <xs:complexType name="Policy">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="rule" type="Rule"/>
        </xs:sequence>
        <xs:attribute name="nsfName" type="xs:string"/>
        <xs:attribute name="targetRuleSet" type="xs:string"/>
        <xs:attribute name="ipSecAction" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="IpSourceAddressConditionCapability">
        <xs:complexContent>
            <xs:extension base="IpSourceAddressCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpDestinationAddressConditionCapability">
        <xs:complexContent>
            <xs:extension base="IpDestinationAddressCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyReqidConditionCapability">
        <xs:complexContent>
            <xs:extension base="PolicyReqidCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplayWindowConditionCapability">
        <xs:complexContent>
            <xs:extension base="ReplayWindowCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConnmarkConditionCapability">
        <xs:complexContent>
            <xs:extension base="ConnmarkCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PacketEncapsulationActionCapability">
        <xs:complexContent>
            <xs:extension base="PacketEncapsulation"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DataAuthenticationActionCapability">
        <xs:complexContent>
            <xs:extension base="DataAuthenticationCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EncryptionActionCapability">
        <xs:complexContent>
            <xs:extension base="EncryptionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AEADActionCapability">
        <xs:complexContent>
            <xs:extension base="IkeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TypeOfEncapActionCapability">
        <xs:complexContent>
            <xs:extension base="TypeOfEncap"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CompressionActionCapability">
        <xs:complexContent>
            <xs:extension base="CompressionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourcePortConditionCapability">
        <xs:complexContent>
            <xs:extension base="SourcePortCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationPortConditionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationPortCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpProtocolTypeConditionCapability">
        <xs:complexContent>
            <xs:extension base="IpProtocolTypeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AaaIdentityConditionCapablity">
        <xs:complexContent>
            <xs:extension base="AaaIdentityCapablity"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AutoActionCapability">
        <xs:complexContent>
            <xs:extension base="AutoCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AggressiveActionCapability">
        <xs:complexContent>
            <xs:extension base="AggressiveCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CloseActionCapability">
        <xs:complexContent>
            <xs:extension base="CloseActCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DpdActionCapability">
        <xs:complexContent>
            <xs:extension base="DpdActCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DpdDelayConditionCapability">
        <xs:complexContent>
            <xs:extension base="DpdDelayCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DpdTimeoutConditionCapability">
        <xs:complexContent>
            <xs:extension base="DpdTimeoutCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InactivityConditionCapability">
        <xs:complexContent>
            <xs:extension base="InactivityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EapIdentityConditionCapability">
        <xs:complexContent>
            <xs:extension base="EapIdentityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FragmentationActionCapability">
        <xs:complexContent>
            <xs:extension base="FragmentationCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AutoExchangeTypeActionCapability">
        <xs:complexContent>
            <xs:extension base="AutoExchangeTypeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkeActionCapability">
        <xs:complexContent>
            <xs:extension base="IkeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkeDSCPConditionCapability">
        <xs:complexContent>
            <xs:extension base="IkeDSCPCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkeLifetimeConditionCapability">
        <xs:complexContent>
            <xs:extension base="IkeLifetimeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyInstallConditionCapability">
        <xs:complexContent>
            <xs:extension base="PolicyInstallCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LifeBytesConditionCapability">
        <xs:complexContent>
            <xs:extension base="LifeBytesCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LifePacketsConditionCapability">
        <xs:complexContent>
            <xs:extension base="LifePacketsCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LifeTimeConditionCapability">
        <xs:complexContent>
            <xs:extension base="LifeTimeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MarginBytesConditionCapability">
        <xs:complexContent>
            <xs:extension base="MarginBytesCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MarginPacketsConditionCapability">
        <xs:complexContent>
            <xs:extension base="MarginPacketsCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MarginTimeConditionCapability">
        <xs:complexContent>
            <xs:extension base="MarginTimeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MobikeConditionCapability">
        <xs:complexContent>
            <xs:extension base="MobikeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConfigurationModeConditionCapability">
        <xs:complexContent>
            <xs:extension base="ConfigurationModeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReauthenticationConditionCapability">
        <xs:complexContent>
            <xs:extension base="ReauthenticationCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RekeyConditionCapability">
        <xs:complexContent>
            <xs:extension base="RekeyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RekeyfuzzConditionCapability">
        <xs:complexContent>
            <xs:extension base="RekeyfuzzCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SHA256_96ActionCapability">
        <xs:complexContent>
            <xs:extension base="SHA256_96"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TFCActionCapability">
        <xs:complexContent>
            <xs:extension base="TFCCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="XAuthRoleConditionCapability">
        <xs:complexContent>
            <xs:extension base="XAuthRoleCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="XAuth_identityConditionCapability">
        <xs:complexContent>
            <xs:extension base="XAuth_identity"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceAuthActionCapability">
        <xs:complexContent>
            <xs:extension base="SourceAuthCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationAuthActionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationAuthCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceCertificateAutorityConditionCapability">
        <xs:complexContent>
            <xs:extension base="SourceCertificateAutorityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationCertificateAutorityConditionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationCertificateAutorityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceX509CertificateConditionCapability">
        <xs:complexContent>
            <xs:extension base="SourceX509CertificateCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationX509CertificateConditionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationX509CertificateCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceCertificatePolicyConditionCapability">
        <xs:complexContent>
            <xs:extension base="SourceCertificatePolicyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationCertificatePolicyConditionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationCertificatePolicyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceDNSConditionCapability">
        <xs:complexContent>
            <xs:extension base="SourceDNSCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationDNSConditionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationDNSCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceFirewallActionCapability">
        <xs:complexContent>
            <xs:extension base="SourceFirewallCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationFirewallActionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationFirewallCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceGroupConditionCapability">
        <xs:complexContent>
            <xs:extension base="SourceGroupCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationGroupConditionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationGroupCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceIdentityConditionCapability">
        <xs:complexContent>
            <xs:extension base="SourceIdentityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationIdentityConditionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationIdentityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceRSAPublicKeyActionCapability">
        <xs:complexContent>
            <xs:extension base="SourceRSAPublicKeyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationRSAPublicKeyActionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationRSAPublicKeyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourcePublicKeyActionCapability">
        <xs:complexContent>
            <xs:extension base="SourcePublicKeyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationPublicKeyActionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationPublicKeyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceSendCertificateConditionCapability">
        <xs:complexContent>
            <xs:extension base="SourceSendCertificateCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationSendCertificateConditionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationSendCertificateCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AlsoConditionCapability">
        <xs:complexContent>
            <xs:extension base="AlsoCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceSubnetConditionCapability">
        <xs:complexContent>
            <xs:extension base="SourceSubnetCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationSubnetConditionCapability">
        <xs:complexContent>
            <xs:extension base="DestinationSubnetCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Rule">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="ruleDescription" type="xs:string"/>
            <xs:element name="label" type="xs:string"/>
            <xs:element name="externalData" type="ExternalData"/>
            <xs:element name="ipSourceAddressConditionCapability" type="IpSourceAddressConditionCapability"/>
            <xs:element name="ipDestinationAddressConditionCapability" type="IpDestinationAddressConditionCapability"/>
            <xs:element name="policyReqidConditionCapability" type="PolicyReqidConditionCapability"/>
            <xs:element name="replayWindowConditionCapability" type="ReplayWindowConditionCapability"/>
            <xs:element name="connmarkConditionCapability" type="ConnmarkConditionCapability"/>
            <xs:element name="packetEncapsulationActionCapability" type="PacketEncapsulationActionCapability"/>
            <xs:element name="dataAuthenticationActionCapability" type="DataAuthenticationActionCapability"/>
            <xs:element name="encryptionActionCapability" type="EncryptionActionCapability"/>
            <xs:element name="aEADActionCapability" type="AEADActionCapability"/>
            <xs:element name="typeOfEncapActionCapability" type="TypeOfEncapActionCapability"/>
            <xs:element name="compressionActionCapability" type="CompressionActionCapability"/>
            <xs:element name="sourcePortConditionCapability" type="SourcePortConditionCapability"/>
            <xs:element name="destinationPortConditionCapability" type="DestinationPortConditionCapability"/>
            <xs:element name="ipProtocolTypeConditionCapability" type="IpProtocolTypeConditionCapability"/>
            <xs:element name="aaaIdentityConditionCapablity" type="AaaIdentityConditionCapablity"/>
            <xs:element name="autoActionCapability" type="AutoActionCapability"/>
            <xs:element name="aggressiveActionCapability" type="AggressiveActionCapability"/>
            <xs:element name="closeActionCapability" type="CloseActionCapability"/>
            <xs:element name="dpdActionCapability" type="DpdActionCapability"/>
            <xs:element name="dpdDelayConditionCapability" type="DpdDelayConditionCapability"/>
            <xs:element name="dpdTimeoutConditionCapability" type="DpdTimeoutConditionCapability"/>
            <xs:element name="inactivityConditionCapability" type="InactivityConditionCapability"/>
            <xs:element name="eapIdentityConditionCapability" type="EapIdentityConditionCapability"/>
            <xs:element name="fragmentationActionCapability" type="FragmentationActionCapability"/>
            <xs:element name="autoExchangeTypeActionCapability" type="AutoExchangeTypeActionCapability"/>
            <xs:element name="ikeActionCapability" type="IkeActionCapability"/>
            <xs:element name="ikeDSCPConditionCapability" type="IkeDSCPConditionCapability"/>
            <xs:element name="ikeLifetimeConditionCapability" type="IkeLifetimeConditionCapability"/>
            <xs:element name="policyInstallConditionCapability" type="PolicyInstallConditionCapability"/>
            <xs:element name="lifeBytesConditionCapability" type="LifeBytesConditionCapability"/>
            <xs:element name="lifePacketsConditionCapability" type="LifePacketsConditionCapability"/>
            <xs:element name="lifeTimeConditionCapability" type="LifeTimeConditionCapability"/>
            <xs:element name="marginBytesConditionCapability" type="MarginBytesConditionCapability"/>
            <xs:element name="marginPacketsConditionCapability" type="MarginPacketsConditionCapability"/>
            <xs:element name="marginTimeConditionCapability" type="MarginTimeConditionCapability"/>
            <xs:element name="mobikeConditionCapability" type="MobikeConditionCapability"/>
            <xs:element name="configurationModeConditionCapability" type="ConfigurationModeConditionCapability"/>
            <xs:element name="reauthenticationConditionCapability" type="ReauthenticationConditionCapability"/>
            <xs:element name="rekeyConditionCapability" type="RekeyConditionCapability"/>
            <xs:element name="rekeyfuzzConditionCapability" type="RekeyfuzzConditionCapability"/>
            <xs:element name="sHA256_96ActionCapability" type="SHA256_96ActionCapability"/>
            <xs:element name="tFCActionCapability" type="TFCActionCapability"/>
            <xs:element name="xAuthRoleConditionCapability" type="XAuthRoleConditionCapability"/>
            <xs:element name="xAuth_identityConditionCapability" type="XAuth_identityConditionCapability"/>
            <xs:element name="sourceAuthActionCapability" type="SourceAuthActionCapability"/>
            <xs:element name="destinationAuthActionCapability" type="DestinationAuthActionCapability"/>
            <xs:element name="sourceCertificateAutorityConditionCapability" type="SourceCertificateAutorityConditionCapability"/>
            <xs:element name="destinationCertificateAutorityConditionCapability" type="DestinationCertificateAutorityConditionCapability"/>
            <xs:element name="sourceX509CertificateConditionCapability" type="SourceX509CertificateConditionCapability"/>
            <xs:element name="destinationX509CertificateConditionCapability" type="DestinationX509CertificateConditionCapability"/>
            <xs:element name="sourceCertificatePolicyConditionCapability" type="SourceCertificatePolicyConditionCapability"/>
            <xs:element name="destinationCertificatePolicyConditionCapability" type="DestinationCertificatePolicyConditionCapability"/>
            <xs:element name="sourceDNSConditionCapability" type="SourceDNSConditionCapability"/>
            <xs:element name="destinationDNSConditionCapability" type="DestinationDNSConditionCapability"/>
            <xs:element name="sourceFirewallActionCapability" type="SourceFirewallActionCapability"/>
            <xs:element name="destinationFirewallActionCapability" type="DestinationFirewallActionCapability"/>
            <xs:element name="sourceGroupConditionCapability" type="SourceGroupConditionCapability"/>
            <xs:element name="destinationGroupConditionCapability" type="DestinationGroupConditionCapability"/>
            <xs:element name="sourceIdentityConditionCapability" type="SourceIdentityConditionCapability"/>
            <xs:element name="destinationIdentityConditionCapability" type="DestinationIdentityConditionCapability"/>
            <xs:element name="sourceRSAPublicKeyActionCapability" type="SourceRSAPublicKeyActionCapability"/>
            <xs:element name="destinationRSAPublicKeyActionCapability" type="DestinationRSAPublicKeyActionCapability"/>
            <xs:element name="sourcePublicKeyActionCapability" type="SourcePublicKeyActionCapability"/>
            <xs:element name="destinationPublicKeyActionCapability" type="DestinationPublicKeyActionCapability"/>
            <xs:element name="sourceSendCertificateConditionCapability" type="SourceSendCertificateConditionCapability"/>
            <xs:element name="destinationSendCertificateConditionCapability" type="DestinationSendCertificateConditionCapability"/>
            <xs:element name="alsoConditionCapability" type="AlsoConditionCapability"/>
            <xs:element name="sourceSubnetConditionCapability" type="SourceSubnetConditionCapability"/>
            <xs:element name="destinationSubnetConditionCapability" type="DestinationSubnetConditionCapability"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="ruleType" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="ExternalData">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="NSF">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="languageModelGenerator" type="LanguageModelGenerator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="nsfTranslatorAdapter" type="NSFTranslatorAdapter"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="metadata" type="Metadata"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="securityCapability" type="SecurityCapability"/>
            <xs:element maxOccurs="1" minOccurs="0" name="nsfPolicyDetails" type="NSFPolicyDetails"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:attribute name="ref" type="xs:IDREF"/>
    </xs:complexType>
    <xs:complexType name="SecurityCapability">
        <xs:complexContent>
            <xs:extension base="NSF"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConditionCapability">
        <xs:complexContent>
            <xs:extension base="SecurityCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="operation" type="OperationTypeEnumeration"/>
                    <xs:element name="capabilityValue" type="OperatorType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="capabilityIpValue" type="IpOperatorType"/>
                </xs:choice>
                <xs:attribute name="operator" type="SupportedConditionOperatorEnumeration"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="L3Capability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Ipv4Capability">
        <xs:complexContent>
            <xs:extension base="L3Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpAddressCapability">
        <xs:complexContent>
            <xs:extension base="Ipv4Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpSrcAddressCapability">
        <xs:complexContent>
            <xs:extension base="IpAddressCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpSourceAddressCapability">
        <xs:complexContent>
            <xs:extension base="IpSrcAddressCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="ipAddress" type="Ipv4MaskRangeOperatorType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpDestAddressCapability">
        <xs:complexContent>
            <xs:extension base="IpAddressCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpDestinationAddressCapability">
        <xs:complexContent>
            <xs:extension base="IpDestAddressCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="ipAddress" type="Ipv4MaskRangeOperatorType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyReqidCapability">
        <xs:complexContent>
            <xs:extension base="PolicyCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="reqID" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplayCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReplayWindowCapability">
        <xs:complexContent>
            <xs:extension base="ReplayCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="size" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConnmarkBaseConditionCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConnmarkCapability">
        <xs:complexContent>
            <xs:extension base="ConnmarkBaseConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:integer"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="mask" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActionCapability">
        <xs:complexContent>
            <xs:extension base="SecurityCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="operation" type="OperationTypeEnumeration"/>
                    <xs:element name="capabilityValue" type="ActionOperatorType"/>
                </xs:choice>
                <xs:attribute name="operator" type="SupportedActionOperatorEnumeration"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TransformPacketCapability">
        <xs:complexContent>
            <xs:extension base="ActionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TransformPacketDecorator">
        <xs:complexContent>
            <xs:extension base="TransformPacketCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transformPacketCapability" type="TransformPacketCapability"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PacketEncapsulation">
        <xs:complexContent>
            <xs:extension base="TransformPacketDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="mode" type="PolicyModeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DataAuthenticationCapability">
        <xs:complexContent>
            <xs:extension base="TransformPacketDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="authAlgoMode" type="AuthenticationType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="key" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="truncationLenght" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EncryptionCapability">
        <xs:complexContent>
            <xs:extension base="TransformPacketDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="encAlgoMode" type="EncryptionType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="key" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="KeyExchangeCapability">
        <xs:complexContent>
            <xs:extension base="ActionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AutoExchangeTypeCapability">
        <xs:complexContent>
            <xs:extension base="KeyExchangeCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="IkeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkeCapability">
        <xs:complexContent>
            <xs:extension base="AutoExchangeTypeCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="algoEnc" type="EncryptionAlgoEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="mode" type="ModeForAEADEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="algoHash" type="HashAlgorithmEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="dhgroup" type="DiffieHellmanEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TypeOfEncap">
        <xs:complexContent>
            <xs:extension base="PacketEncapsulation">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="packetEncapsulation" type="PacketEncapsulation"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="srcPort" type="RangeOperatorType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="dstPort" type="RangeOperatorType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="originalAddr" type="AddressTypeEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="encapMode" type="EncapModeEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="forceencaps" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CompressionCapability">
        <xs:complexContent>
            <xs:extension base="TransformPacketDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="algo" type="CompressionAlgoEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="choice" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="L4Capability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CommonL4Capability">
        <xs:complexContent>
            <xs:extension base="L4Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PortCapability">
        <xs:complexContent>
            <xs:extension base="CommonL4Capability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourcePortCapability">
        <xs:complexContent>
            <xs:extension base="PortCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="port" type="PortType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationPortCapability">
        <xs:complexContent>
            <xs:extension base="PortCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="port" type="PortType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IpProtocolTypeCapability">
        <xs:complexContent>
            <xs:extension base="Ipv4Capability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="protocolType" type="ProtocolType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IdentityCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="idNum" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AaaIdentityCapablity">
        <xs:complexContent>
            <xs:extension base="IdentityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="KeyExchangeDecorator">
        <xs:complexContent>
            <xs:extension base="KeyExchangeCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="keyExchangeCapability" type="KeyExchangeCapability"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AutoCapability">
        <xs:complexContent>
            <xs:extension base="KeyExchangeDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="AutoEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AggressiveCapability">
        <xs:complexContent>
            <xs:extension base="KeyExchangeDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="choice" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CloseActCapability">
        <xs:complexContent>
            <xs:extension base="KeyExchangeDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="ActionTypeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DpdActCapability">
        <xs:complexContent>
            <xs:extension base="KeyExchangeDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="ActionTypeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DpdCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="time" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DpdDelayCapability">
        <xs:complexContent>
            <xs:extension base="DpdCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DpdTimeoutCapability">
        <xs:complexContent>
            <xs:extension base="DpdCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TimeCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InactivityCapability">
        <xs:complexContent>
            <xs:extension base="TimeCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="time" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EapIdentityCapability">
        <xs:complexContent>
            <xs:extension base="IdentityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FragmentationCapability">
        <xs:complexContent>
            <xs:extension base="KeyExchangeDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="FragmentationTypeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkeCondCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkeDSCPCapability">
        <xs:complexContent>
            <xs:extension base="IkeCondCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkeLifetimeCapability">
        <xs:complexContent>
            <xs:extension base="IkeCondCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="time" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PolicyInstallCapability">
        <xs:complexContent>
            <xs:extension base="PolicyCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="choice" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LifeCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LifeBytesCapability">
        <xs:complexContent>
            <xs:extension base="LifeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LifePacketsCapability">
        <xs:complexContent>
            <xs:extension base="LifeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LifeTimeCapability">
        <xs:complexContent>
            <xs:extension base="LifeCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MarginCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MarginBytesCapability">
        <xs:complexContent>
            <xs:extension base="MarginCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MarginPacketsCapability">
        <xs:complexContent>
            <xs:extension base="MarginCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MarginTimeCapability">
        <xs:complexContent>
            <xs:extension base="MarginCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MobikeCapability">
        <xs:complexContent>
            <xs:extension base="IkeCondCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="choice" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConfigurationCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConfigurationModeCapability">
        <xs:complexContent>
            <xs:extension base="ConfigurationCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="mode" type="ConfigurationModeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReauthenticationCapability">
        <xs:complexContent>
            <xs:extension base="IkeCondCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="choice" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RekeyCapability">
        <xs:complexContent>
            <xs:extension base="IkeCondCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="choice" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RekeyfuzzCapability">
        <xs:complexContent>
            <xs:extension base="MarginCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="percentage" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SHA256_96">
        <xs:complexContent>
            <xs:extension base="DataAuthenticationCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="choice" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TFCCapability">
        <xs:complexContent>
            <xs:extension base="TransformPacketDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:integer"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="XAuthCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="XAuthRoleCapability">
        <xs:complexContent>
            <xs:extension base="XAuthCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="role" type="RoleEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="XAuth_identity">
        <xs:complexContent>
            <xs:extension base="XAuthCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="identity" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Peer-AuthCapability">
        <xs:complexContent>
            <xs:extension base="KeyExchangeDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="method" type="AuthMethodEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="eapMethod" type="EapMethodEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="type" type="xs:integer"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="vendor" type="xs:integer"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="trustchain" type="HashAlgorithmEnumeration"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="keyStrength" type="xs:integer"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="xAuthType" type="XAuthTypeEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceAuthCapability">
        <xs:complexContent>
            <xs:extension base="Peer-AuthCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationAuthCapability">
        <xs:complexContent>
            <xs:extension base="Peer-AuthCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CertificateCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CertificateAutorityCapability">
        <xs:complexContent>
            <xs:extension base="CertificateCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="name" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceCertificateAutorityCapability">
        <xs:complexContent>
            <xs:extension base="CertificateAutorityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationCertificateAutorityCapability">
        <xs:complexContent>
            <xs:extension base="CertificateAutorityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="X509CertificateCapability">
        <xs:complexContent>
            <xs:extension base="CertificateCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="path" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceX509CertificateCapability">
        <xs:complexContent>
            <xs:extension base="X509CertificateCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationX509CertificateCapability">
        <xs:complexContent>
            <xs:extension base="X509CertificateCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CertificatePolicyCapability">
        <xs:complexContent>
            <xs:extension base="CertificateCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="oids" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceCertificatePolicyCapability">
        <xs:complexContent>
            <xs:extension base="CertificatePolicyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationCertificatePolicyCapability">
        <xs:complexContent>
            <xs:extension base="CertificatePolicyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DNSCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="servers" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceDNSCapability">
        <xs:complexContent>
            <xs:extension base="DNSCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationDNSCapability">
        <xs:complexContent>
            <xs:extension base="DNSCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FirewallCapability">
        <xs:complexContent>
            <xs:extension base="ActionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="choice" type="ChoiceEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceFirewallCapability">
        <xs:complexContent>
            <xs:extension base="FirewallCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationFirewallCapability">
        <xs:complexContent>
            <xs:extension base="FirewallCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GroupCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="list" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceGroupCapability">
        <xs:complexContent>
            <xs:extension base="GroupCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationGroupCapability">
        <xs:complexContent>
            <xs:extension base="GroupCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceIdentityCapability">
        <xs:complexContent>
            <xs:extension base="IdentityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationIdentityCapability">
        <xs:complexContent>
            <xs:extension base="IdentityCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PublicKeyCapability">
        <xs:complexContent>
            <xs:extension base="KeyExchangeDecorator">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="key" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="path" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RSAPublicKeyCapability">
        <xs:complexContent>
            <xs:extension base="PublicKeyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceRSAPublicKeyCapability">
        <xs:complexContent>
            <xs:extension base="RSAPublicKeyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationRSAPublicKeyCapability">
        <xs:complexContent>
            <xs:extension base="RSAPublicKeyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourcePublicKeyCapability">
        <xs:complexContent>
            <xs:extension base="PublicKeyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationPublicKeyCapability">
        <xs:complexContent>
            <xs:extension base="PublicKeyCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SendCertificateCapability">
        <xs:complexContent>
            <xs:extension base="CertificateCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" name="choice" type="ChoiceExpandEnumeration"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceSendCertificateCapability">
        <xs:complexContent>
            <xs:extension base="SendCertificateCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationSendCertificateCapability">
        <xs:complexContent>
            <xs:extension base="SendCertificateCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AlsoCapability">
        <xs:complexContent>
            <xs:extension base="ConfigurationCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" name="name" type="xs:string"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SubnetCapability">
        <xs:complexContent>
            <xs:extension base="ConditionCapability">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="ipAddress" type="Ipv4AddressNoMaskType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="proto" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="port" type="RangeOperatorType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SourceSubnetCapability">
        <xs:complexContent>
            <xs:extension base="SubnetCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DestinationSubnetCapability">
        <xs:complexContent>
            <xs:extension base="SubnetCapability"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NSFTranslatorAdapter"/>
    <xs:complexType name="LanguageModelGenerator"/>
    <xs:complexType name="Metadata"/>
    <xs:complexType name="NSFPolicyDetails">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" name="ruleStart" type="xs:string"/>
            <xs:element maxOccurs="1" name="ruleEnd" type="xs:string"/>
            <xs:element maxOccurs="1" name="policyTrailer" type="xs:string"/>
            <xs:element maxOccurs="1" name="policyEncoding" type="xs:string"/>
            <xs:element name="policyAttribute" type="PolicyAttributeType"/>
            <xs:element maxOccurs="1" name="defaultSecurityCapability" type="xs:string"/>
            <xs:element name="ruleAttribute" type="RuleAttributeType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ruleAttributeDetails" type="RuleAttributeDetailsType"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AuthenticationType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="mode" type="MACAlgorithmEnumeration"/>
            <xs:element name="algoHash" type="HashAlgorithmEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptionType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="mode" type="ModeForEncryptionEnumeration"/>
            <xs:element name="algoEnc" type="EncryptionAlgoEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IpOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="range" type="RangeOperatorType"/>
            <xs:element name="rangeMask" type="Ipv4MaskRangeOperatorType"/>
            <xs:element name="rangeCIDR" type="Ipv4MaskCIDRRangeOperatorType"/>
            <xs:element name="union" type="UnionOperatorType"/>
            <xs:element default="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" maxOccurs="1" name="exactMatch" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProtocolType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="protocolTypeName" type="ProtocolTypeEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="range" type="RangeOperatorType"/>
            <xs:element name="union" type="UnionOperatorType"/>
            <xs:element maxOccurs="1" name="exactMatch" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnionOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="unbounded" minOccurs="0" name="elementRange" type="ElementRangeType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="elementValue" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RangeOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="start" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="end" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ElementRangeType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="range" type="RangeOperatorType"/>
            <xs:element name="rangeMask" type="Ipv4MaskRangeOperatorType"/>
            <xs:element name="rangeCIDR" type="Ipv4MaskCIDRRangeOperatorType"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Ipv4AddressNoMaskType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element default="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" maxOccurs="1" name="address" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Ipv4MaskCIDRRangeOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element default="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" maxOccurs="1" name="address" type="xs:string"/>
            <xs:element default="^([0-9]|[1-2][0-9]|3[0-2])?$" maxOccurs="1" minOccurs="0" name="maskCIDR" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" name="startValue" type="xs:string"/>
            <xs:element maxOccurs="1" name="endValue" type="xs:string"/>
            <xs:element name="startName" type="ServicePortNameEnumeration"/>
            <xs:element name="endName" type="ServicePortNameEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Ipv4MaskRangeOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element default="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" maxOccurs="1" name="address" type="xs:string"/>
            <xs:element default="^(((255\.){3}(255|254|252|248|240|224|192|128|0+))|((255\.){2}(255|254|252|248|240|224|192|128|0+)\.0)|((255\.)(255|254|252|248|240|224|192|128|0+)(\.0+){2})|((255|254|252|248|240|224|192|128|0+)(\.0+){3}))$" maxOccurs="1" minOccurs="0" name="mask" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PolicyAttributeType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="attributeName" type="PolicyAttributeEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ActionOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="propList" type="ProposalOperatorType"/>
            <xs:element maxOccurs="1" name="exactMatch" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProposalOperatorType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="proposal" type="CipherSuitesType"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CipherSuitesType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" minOccurs="0" name="algoEnc" type="EncryptionAlgoEnumeration"/>
            <xs:element maxOccurs="1" minOccurs="0" name="mode" type="ModeForAEADEnumeration"/>
            <xs:element maxOccurs="1" minOccurs="0" name="algoHash" type="HashAlgorithmEnumeration"/>
            <xs:element maxOccurs="1" minOccurs="0" name="dhgroup" type="DiffieHellmanEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RuleAttributeType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="attributeName" type="RuleAttributeEnumeration"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RuleAttributeDetailsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="unbounded" minOccurs="0" name="mappingDetails" type="MappingDetailsType"/>
        </xs:choice>
        <xs:attribute name="ref" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="MappingDetailsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="1" name="key" type="xs:string"/>
            <xs:element maxOccurs="1" name="value" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProtocolTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOPOPT"/>
            <xs:enumeration value="ICMP"/>
            <xs:enumeration value="IGMP"/>
            <xs:enumeration value="GGP"/>
            <xs:enumeration value="ST"/>
            <xs:enumeration value="TCP"/>
            <xs:enumeration value="EGP"/>
            <xs:enumeration value="IGP"/>
            <xs:enumeration value="PUP"/>
            <xs:enumeration value="UDP"/>
            <xs:enumeration value="HMP"/>
            <xs:enumeration value="XNS-IDP"/>
            <xs:enumeration value="RDP"/>
            <xs:enumeration value="ISO-TP4"/>
            <xs:enumeration value="DCCP"/>
            <xs:enumeration value="XTP"/>
            <xs:enumeration value="DDP"/>
            <xs:enumeration value="IDPR-CMTP"/>
            <xs:enumeration value="IPv6"/>
            <xs:enumeration value="IPv6-Route"/>
            <xs:enumeration value="IPv6-Frag"/>
            <xs:enumeration value="IDRP"/>
            <xs:enumeration value="RSVP"/>
            <xs:enumeration value="GRE"/>
            <xs:enumeration value="SKIP"/>
            <xs:enumeration value="IPv6-ICMP"/>
            <xs:enumeration value="IPv6-NoNxt"/>
            <xs:enumeration value="IPv6-Opts"/>
            <xs:enumeration value="CPHB"/>
            <xs:enumeration value="VMTP"/>
            <xs:enumeration value="EIGRP"/>
            <xs:enumeration value="AX.25"/>
            <xs:enumeration value="ETHERIP"/>
            <xs:enumeration value="ENCAP"/>
            <xs:enumeration value="PIM"/>
            <xs:enumeration value="VRRP"/>
            <xs:enumeration value="L2TP"/>
            <xs:enumeration value="SCTP"/>
            <xs:enumeration value="FC"/>
            <xs:enumeration value="UDPLite"/>
            <xs:enumeration value="MPLS-in-IP"/>
            <xs:enumeration value="HIP"/>
            <xs:enumeration value="Shim6"/>
            <xs:enumeration value="WESP"/>
            <xs:enumeration value="ROHC"/>
            <xs:enumeration value="hopopt"/>
            <xs:enumeration value="icmp"/>
            <xs:enumeration value="igmp"/>
            <xs:enumeration value="ggp"/>
            <xs:enumeration value="ip-encap"/>
            <xs:enumeration value="st"/>
            <xs:enumeration value="tcp"/>
            <xs:enumeration value="egp"/>
            <xs:enumeration value="igp"/>
            <xs:enumeration value="pup"/>
            <xs:enumeration value="udp"/>
            <xs:enumeration value="hmp"/>
            <xs:enumeration value="xns-idp"/>
            <xs:enumeration value="rdp"/>
            <xs:enumeration value="iso-tp4"/>
            <xs:enumeration value="dccp"/>
            <xs:enumeration value="xtp"/>
            <xs:enumeration value="ddp"/>
            <xs:enumeration value="idpr-cmtp"/>
            <xs:enumeration value="ipv6"/>
            <xs:enumeration value="ipv6-route"/>
            <xs:enumeration value="ipv6-frag"/>
            <xs:enumeration value="idrp"/>
            <xs:enumeration value="rsvp"/>
            <xs:enumeration value="gre"/>
            <xs:enumeration value="ipsec-esp"/>
            <xs:enumeration value="ipsec-ah"/>
            <xs:enumeration value="skip"/>
            <xs:enumeration value="ipv6-icmp"/>
            <xs:enumeration value="ipv6-nonxt"/>
            <xs:enumeration value="ipv6-opts"/>
            <xs:enumeration value="rspf"/>
            <xs:enumeration value="cphb"/>
            <xs:enumeration value="vmtp"/>
            <xs:enumeration value="eigrp"/>
            <xs:enumeration value="ospfigp"/>
            <xs:enumeration value="ax.25"/>
            <xs:enumeration value="ipip"/>
            <xs:enumeration value="etherip"/>
            <xs:enumeration value="encap"/>
            <xs:enumeration value="pim"/>
            <xs:enumeration value="ipcomp"/>
            <xs:enumeration value="vrrp"/>
            <xs:enumeration value="l2tp"/>
            <xs:enumeration value="isis"/>
            <xs:enumeration value="sctp"/>
            <xs:enumeration value="fc"/>
            <xs:enumeration value="mh"/>
            <xs:enumeration value="MH"/>
            <xs:enumeration value="udplite"/>
            <xs:enumeration value="mpls-in-ip"/>
            <xs:enumeration value="hip"/>
            <xs:enumeration value="shim6"/>
            <xs:enumeration value="wesp"/>
            <xs:enumeration value="rohc"/>
            <xs:enumeration value="esp"/>
            <xs:enumeration value="ah"/>
            <xs:enumeration value="comp"/>
            <xs:enumeration value="IP-ENCAP"/>
            <xs:enumeration value="IPSEC-ESP"/>
            <xs:enumeration value="IPSEC-AH"/>
            <xs:enumeration value="RSPF"/>
            <xs:enumeration value="OSPFIGP"/>
            <xs:enumeration value="IPIP"/>
            <xs:enumeration value="IPCOMP"/>
            <xs:enumeration value="ISIS"/>
            <xs:enumeration value="Mobility-Header"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CpuConditionCapabilityIntegerRestriction">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="7"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="ActionTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="clear"/>
            <xs:enumeration value="hold"/>
            <xs:enumeration value="restart"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="unspec"/>
            <xs:enumeration value="unicast"/>
            <xs:enumeration value="local"/>
            <xs:enumeration value="broadcast"/>
            <xs:enumeration value="anycast"/>
            <xs:enumeration value="multicast"/>
            <xs:enumeration value="blackhole"/>
            <xs:enumeration value="unreachable"/>
            <xs:enumeration value="prohibit"/>
            <xs:enumeration value="throw"/>
            <xs:enumeration value="nat"/>
            <xs:enumeration value="xresolve"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthMethodEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pubkey"/>
            <xs:enumeration value="psk"/>
            <xs:enumeration value="eap"/>
            <xs:enumeration value="xauth"/>
            <xs:enumeration value="ecdsa"/>
            <xs:enumeration value="rsa"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AutoEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ignore"/>
            <xs:enumeration value="add"/>
            <xs:enumeration value="route"/>
            <xs:enumeration value="start"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ChoiceEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ChoiceExpandEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="never"/>
            <xs:enumeration value="always"/>
            <xs:enumeration value="ifasked"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CompressionAlgoEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="deflate"/>
            <xs:enumeration value="lzs"/>
            <xs:enumeration value="lzjh"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConfigurationModeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="push"/>
            <xs:enumeration value="pull"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DiffieHellmanEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="modp2048"/>
            <xs:enumeration value="modp3072"/>
            <xs:enumeration value="modp4096"/>
            <xs:enumeration value="modp6144"/>
            <xs:enumeration value="modp8192"/>
            <xs:enumeration value="ecp224"/>
            <xs:enumeration value="ecp256"/>
            <xs:enumeration value="ecp384"/>
            <xs:enumeration value="ecp521"/>
            <xs:enumeration value="ecp224bp"/>
            <xs:enumeration value="ecp256bp"/>
            <xs:enumeration value="ecp384bp"/>
            <xs:enumeration value="ecp512bp"/>
            <xs:enumeration value="curve25519"/>
            <xs:enumeration value="x25519"/>
            <xs:enumeration value="curve448"/>
            <xs:enumeration value="x448"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EapMethodEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="aka"/>
            <xs:enumeration value="gtc"/>
            <xs:enumeration value="md5"/>
            <xs:enumeration value="mschapv2"/>
            <xs:enumeration value="peap"/>
            <xs:enumeration value="sim"/>
            <xs:enumeration value="tls"/>
            <xs:enumeration value="ttls"/>
            <xs:enumeration value="dynamic"/>
            <xs:enumeration value="radius"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EncapModeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="espintcp"/>
            <xs:enumeration value="espinudp"/>
            <xs:enumeration value="espinudp-nonike"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EncryptionAlgoEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="aes128"/>
            <xs:enumeration value="aes192"/>
            <xs:enumeration value="aes256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FragmentationTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="force"/>
            <xs:enumeration value="accept"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HashAlgorithmEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="sha1"/>
            <xs:enumeration value="sha256"/>
            <xs:enumeration value="sha384"/>
            <xs:enumeration value="sha512"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IkeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ike"/>
            <xs:enumeration value="ikev1"/>
            <xs:enumeration value="ikev2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MACAlgorithmEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="gmac"/>
            <xs:enumeration value="hmac"/>
            <xs:enumeration value="xcbc"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModeForAEADEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ccm8"/>
            <xs:enumeration value="ccm12"/>
            <xs:enumeration value="ccm16"/>
            <xs:enumeration value="ccm64"/>
            <xs:enumeration value="ccm96"/>
            <xs:enumeration value="ccm128"/>
            <xs:enumeration value="gcm8"/>
            <xs:enumeration value="gcm12"/>
            <xs:enumeration value="gcm16"/>
            <xs:enumeration value="gcm64"/>
            <xs:enumeration value="gcm96"/>
            <xs:enumeration value="gcm128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModeForEncryptionEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="cbc"/>
            <xs:enumeration value="ctr"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OperationTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNKNOWN"/>
            <xs:enumeration value="GREATER_THAN"/>
            <xs:enumeration value="GREATER_THAN_OR_EQUAL_TO"/>
            <xs:enumeration value="LESS_THAN"/>
            <xs:enumeration value="LESS_THAN_OR_EQUAL_TO"/>
            <xs:enumeration value="EQUAL_TO"/>
            <xs:enumeration value="NOT_EQUAL_TO"/>
            <xs:enumeration value="IN"/>
            <xs:enumeration value="NOT_IN"/>
            <xs:enumeration value="SET"/>
            <xs:enumeration value="CLEAR"/>
            <xs:enumeration value="BETWEEN"/>
            <xs:enumeration value="AND"/>
            <xs:enumeration value="OR"/>
            <xs:enumeration value="XOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PolicyModeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tunnel"/>
            <xs:enumeration value="transport"/>
            <xs:enumeration value="beet"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RoleEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="client"/>
            <xs:enumeration value="server"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SupportedConditionOperatorEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="exactMatch"/>
            <xs:enumeration value="union"/>
            <xs:enumeration value="range"/>
            <xs:enumeration value="rangeMask"/>
            <xs:enumeration value="rangeCIDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="XAuthTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="generic"/>
            <xs:enumeration value="eap"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PolicyAttributeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="targetRuleSet"/>
            <xs:enumeration value="ipSecAction"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SupportedActionOperatorEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="proposal"/>
            <xs:enumeration value="exactMatch"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RuleAttributeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ruleType"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ServicePortNameEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tcpmux"/>
            <xs:enumeration value="discard"/>
            <xs:enumeration value="systat"/>
            <xs:enumeration value="daytime"/>
            <xs:enumeration value="netstat"/>
            <xs:enumeration value="qotd"/>
            <xs:enumeration value="msp"/>
            <xs:enumeration value="chargen"/>
            <xs:enumeration value="ftp-data"/>
            <xs:enumeration value="ftp"/>
            <xs:enumeration value="ssh"/>
            <xs:enumeration value="telnet"/>
            <xs:enumeration value="smtp"/>
            <xs:enumeration value="time"/>
            <xs:enumeration value="rlp"/>
            <xs:enumeration value="nameserver"/>
            <xs:enumeration value="whois"/>
            <xs:enumeration value="tacacs"/>
            <xs:enumeration value="re-mail-ck"/>
            <xs:enumeration value="domain"/>
            <xs:enumeration value="tacacs-ds"/>
            <xs:enumeration value="bootps"/>
            <xs:enumeration value="bootpc"/>
            <xs:enumeration value="tftp"/>
            <xs:enumeration value="gopher"/>
            <xs:enumeration value="finger"/>
            <xs:enumeration value="http"/>
            <xs:enumeration value="link"/>
            <xs:enumeration value="kerberos"/>
            <xs:enumeration value="supdup"/>
            <xs:enumeration value="hostnames"/>
            <xs:enumeration value="iso-tsap"/>
            <xs:enumeration value="acr-nema"/>
            <xs:enumeration value="csnet-ns"/>
            <xs:enumeration value="rtelnet"/>
            <xs:enumeration value="pop3"/>
            <xs:enumeration value="sunrpc"/>
            <xs:enumeration value="auth"/>
            <xs:enumeration value="sftp"/>
            <xs:enumeration value="nntp"/>
            <xs:enumeration value="ntp"/>
            <xs:enumeration value="pwdgen"/>
            <xs:enumeration value="loc-srv"/>
            <xs:enumeration value="netbios-ns"/>
            <xs:enumeration value="netbios-dgm"/>
            <xs:enumeration value="netbios-ssn"/>
            <xs:enumeration value="imap2"/>
            <xs:enumeration value="snmp"/>
            <xs:enumeration value="snmp-trap"/>
            <xs:enumeration value="cmip-man"/>
            <xs:enumeration value="cmip-agent"/>
            <xs:enumeration value="mailq"/>
            <xs:enumeration value="xdmcp"/>
            <xs:enumeration value="nextstep"/>
            <xs:enumeration value="bgp"/>
            <xs:enumeration value="irc"/>
            <xs:enumeration value="smux"/>
            <xs:enumeration value="at-rtmp"/>
            <xs:enumeration value="at-nbp"/>
            <xs:enumeration value="at-echo"/>
            <xs:enumeration value="at-zis"/>
            <xs:enumeration value="qmtp"/>
            <xs:enumeration value="z3950"/>
            <xs:enumeration value="ipx"/>
            <xs:enumeration value="pawserv"/>
            <xs:enumeration value="zserv"/>
            <xs:enumeration value="fatserv"/>
            <xs:enumeration value="rpc2portmap"/>
            <xs:enumeration value="codaauth2"/>
            <xs:enumeration value="clearcase"/>
            <xs:enumeration value="ulistserv"/>
            <xs:enumeration value="ldap"/>
            <xs:enumeration value="imsp"/>
            <xs:enumeration value="svrloc"/>
            <xs:enumeration value="https"/>
            <xs:enumeration value="snpp"/>
            <xs:enumeration value="microsoft-ds"/>
            <xs:enumeration value="kpasswd"/>
            <xs:enumeration value="urd"/>
            <xs:enumeration value="saft"/>
            <xs:enumeration value="isakmp"/>
            <xs:enumeration value="rtsp"/>
            <xs:enumeration value="nqs"/>
            <xs:enumeration value="npmp-local"/>
            <xs:enumeration value="npmp-gui"/>
            <xs:enumeration value="hmmp-ind"/>
            <xs:enumeration value="asf-rmcp"/>
            <xs:enumeration value="qmqp"/>
            <xs:enumeration value="ipp"/>
            <xs:enumeration value="exec"/>
            <xs:enumeration value="login"/>
            <xs:enumeration value="shell"/>
            <xs:enumeration value="printer"/>
            <xs:enumeration value="talk"/>
            <xs:enumeration value="ntalk"/>
            <xs:enumeration value="route"/>
            <xs:enumeration value="timed"/>
            <xs:enumeration value="tempo"/>
            <xs:enumeration value="courier"/>
            <xs:enumeration value="conference"/>
            <xs:enumeration value="netnews"/>
            <xs:enumeration value="netwall"/>
            <xs:enumeration value="gdomap"/>
            <xs:enumeration value="uucp"/>
            <xs:enumeration value="klogin"/>
            <xs:enumeration value="kshell"/>
            <xs:enumeration value="dhcpv6-client"/>
            <xs:enumeration value="dhcpv6-server"/>
            <xs:enumeration value="afpovertcp"/>
            <xs:enumeration value="idfp"/>
            <xs:enumeration value="remotefs"/>
            <xs:enumeration value="nntps"/>
            <xs:enumeration value="submission"/>
            <xs:enumeration value="ldaps"/>
            <xs:enumeration value="tinc"/>
            <xs:enumeration value="silc"/>
            <xs:enumeration value="kerberos-adm"/>
            <xs:enumeration value="webster"/>
            <xs:enumeration value="rsync"/>
            <xs:enumeration value="ftps-data"/>
            <xs:enumeration value="ftps"/>
            <xs:enumeration value="telnets"/>
            <xs:enumeration value="imaps"/>
            <xs:enumeration value="pop3s"/>
            <xs:enumeration value="socks"/>
            <xs:enumeration value="proofd"/>
            <xs:enumeration value="rootd"/>
            <xs:enumeration value="openvpn"/>
            <xs:enumeration value="rmiregistry"/>
            <xs:enumeration value="kazaa"/>
            <xs:enumeration value="nessus"/>
            <xs:enumeration value="lotusnote"/>
            <xs:enumeration value="ms-sql-s"/>
            <xs:enumeration value="ms-sql-m"/>
            <xs:enumeration value="ingreslock"/>
            <xs:enumeration value="datametrics"/>
            <xs:enumeration value="sa-msg-port"/>
            <xs:enumeration value="kermit"/>
            <xs:enumeration value="groupwise"/>
            <xs:enumeration value="l2f"/>
            <xs:enumeration value="radius"/>
            <xs:enumeration value="radius-acct"/>
            <xs:enumeration value="msnp"/>
            <xs:enumeration value="unix-status"/>
            <xs:enumeration value="log-server"/>
            <xs:enumeration value="remoteping"/>
            <xs:enumeration value="cisco-sccp"/>
            <xs:enumeration value="search"/>
            <xs:enumeration value="nfs"/>
            <xs:enumeration value="gnunet"/>
            <xs:enumeration value="rtcm-sc104"/>
            <xs:enumeration value="gsigatekeeper"/>
            <xs:enumeration value="gris"/>
            <xs:enumeration value="cvspserver"/>
            <xs:enumeration value="venus"/>
            <xs:enumeration value="venus-se"/>
            <xs:enumeration value="codasrv"/>
            <xs:enumeration value="codasrv-se"/>
            <xs:enumeration value="mon"/>
            <xs:enumeration value="dict"/>
            <xs:enumeration value="f5-globalsite"/>
            <xs:enumeration value="gsiftp"/>
            <xs:enumeration value="gpsd"/>
            <xs:enumeration value="gds-db"/>
            <xs:enumeration value="icpv2"/>
            <xs:enumeration value="isns"/>
            <xs:enumeration value="iscsi-target"/>
            <xs:enumeration value="mysql"/>
            <xs:enumeration value="nut"/>
            <xs:enumeration value="distcc"/>
            <xs:enumeration value="daap"/>
            <xs:enumeration value="svn"/>
            <xs:enumeration value="suucp"/>
            <xs:enumeration value="sysrqd"/>
            <xs:enumeration value="sieve"/>
            <xs:enumeration value="epmd"/>
            <xs:enumeration value="remctl"/>
            <xs:enumeration value="f5-iquery"/>
            <xs:enumeration value="ipsec-nat-t"/>
            <xs:enumeration value="iax"/>
            <xs:enumeration value="mtn"/>
            <xs:enumeration value="radmin-port"/>
            <xs:enumeration value="rfe"/>
            <xs:enumeration value="mmcc"/>
            <xs:enumeration value="sip"/>
            <xs:enumeration value="sip-tls"/>
            <xs:enumeration value="aol"/>
            <xs:enumeration value="xmpp-client"/>
            <xs:enumeration value="xmpp-server"/>
            <xs:enumeration value="cfengine"/>
            <xs:enumeration value="mdns"/>
            <xs:enumeration value="postgresql"/>
            <xs:enumeration value="freeciv"/>
            <xs:enumeration value="amqps"/>
            <xs:enumeration value="amqp"/>
            <xs:enumeration value="ggz"/>
            <xs:enumeration value="x11"/>
            <xs:enumeration value="x11-1"/>
            <xs:enumeration value="x11-2"/>
            <xs:enumeration value="x11-3"/>
            <xs:enumeration value="x11-4"/>
            <xs:enumeration value="x11-5"/>
            <xs:enumeration value="x11-6"/>
            <xs:enumeration value="x11-7"/>
            <xs:enumeration value="gnutella-svc"/>
            <xs:enumeration value="gnutella-rtr"/>
            <xs:enumeration value="sge-qmaster"/>
            <xs:enumeration value="sge-execd"/>
            <xs:enumeration value="mysql-proxy"/>
            <xs:enumeration value="babel"/>
            <xs:enumeration value="ircs-u"/>
            <xs:enumeration value="afs3-fileserver"/>
            <xs:enumeration value="afs3-callback"/>
            <xs:enumeration value="afs3-prserver"/>
            <xs:enumeration value="afs3-vlserver"/>
            <xs:enumeration value="afs3-kaserver"/>
            <xs:enumeration value="afs3-volser"/>
            <xs:enumeration value="afs3-errors"/>
            <xs:enumeration value="afs3-bos"/>
            <xs:enumeration value="afs3-update"/>
            <xs:enumeration value="afs3-rmtsys"/>
            <xs:enumeration value="font-service"/>
            <xs:enumeration value="http-alt"/>
            <xs:enumeration value="puppet"/>
            <xs:enumeration value="bacula-dir"/>
            <xs:enumeration value="bacula-fd"/>
            <xs:enumeration value="bacula-sd"/>
            <xs:enumeration value="xmms2"/>
            <xs:enumeration value="nbd"/>
            <xs:enumeration value="zabbix-agent"/>
            <xs:enumeration value="zabbix-trapper"/>
            <xs:enumeration value="amanda"/>
            <xs:enumeration value="dicom"/>
            <xs:enumeration value="hkp"/>
            <xs:enumeration value="bprd"/>
            <xs:enumeration value="bpdbm"/>
            <xs:enumeration value="bpjava-msvc"/>
            <xs:enumeration value="vnetd"/>
            <xs:enumeration value="bpcd"/>
            <xs:enumeration value="vopied"/>
            <xs:enumeration value="db-lsp"/>
            <xs:enumeration value="dcap"/>
            <xs:enumeration value="gsidcap"/>
            <xs:enumeration value="wnn6"/>
            <xs:enumeration value="nbp"/>
            <xs:enumeration value="echo"/>
            <xs:enumeration value="zip"/>
            <xs:enumeration value="kerberos4"/>
            <xs:enumeration value="kerberos-master"/>
            <xs:enumeration value="passwd-server"/>
            <xs:enumeration value="krb-prop"/>
            <xs:enumeration value="krbupdate"/>
            <xs:enumeration value="swat"/>
            <xs:enumeration value="kpop"/>
            <xs:enumeration value="knetd"/>
            <xs:enumeration value="zephyr-srv"/>
            <xs:enumeration value="zephyr-clt"/>
            <xs:enumeration value="zephyr-hm"/>
            <xs:enumeration value="eklogin"/>
            <xs:enumeration value="kx"/>
            <xs:enumeration value="iprop"/>
            <xs:enumeration value="supfilesrv"/>
            <xs:enumeration value="supfiledbg"/>
            <xs:enumeration value="linuxconf"/>
            <xs:enumeration value="poppassd"/>
            <xs:enumeration value="moira-db"/>
            <xs:enumeration value="moira-update"/>
            <xs:enumeration value="moira-ureg"/>
            <xs:enumeration value="spamd"/>
            <xs:enumeration value="omirr"/>
            <xs:enumeration value="customs"/>
            <xs:enumeration value="skkserv"/>
            <xs:enumeration value="predict"/>
            <xs:enumeration value="rmtcfg"/>
            <xs:enumeration value="wipld"/>
            <xs:enumeration value="xtel"/>
            <xs:enumeration value="xtelw"/>
            <xs:enumeration value="support"/>
            <xs:enumeration value="cfinger"/>
            <xs:enumeration value="ninstall"/>
            <xs:enumeration value="zebrasrv"/>
            <xs:enumeration value="zebra"/>
            <xs:enumeration value="ripd"/>
            <xs:enumeration value="ripngd"/>
            <xs:enumeration value="ospfd"/>
            <xs:enumeration value="bgpd"/>
            <xs:enumeration value="ospf6d"/>
            <xs:enumeration value="ospfapi"/>
            <xs:enumeration value="isisd"/>
            <xs:enumeration value="afbackup"/>
            <xs:enumeration value="afmbackup"/>
            <xs:enumeration value="xtell"/>
            <xs:enumeration value="fax"/>
            <xs:enumeration value="hylafax"/>
            <xs:enumeration value="distmp3"/>
            <xs:enumeration value="munin"/>
            <xs:enumeration value="enbd-cstatd"/>
            <xs:enumeration value="enbd-sstatd"/>
            <xs:enumeration value="pcrd"/>
            <xs:enumeration value="noclog"/>
            <xs:enumeration value="hostmon"/>
            <xs:enumeration value="rplay"/>
            <xs:enumeration value="nrpe"/>
            <xs:enumeration value="nsca"/>
            <xs:enumeration value="mrtd"/>
            <xs:enumeration value="bgpsim"/>
            <xs:enumeration value="canna"/>
            <xs:enumeration value="syslog-tls"/>
            <xs:enumeration value="sane-port"/>
            <xs:enumeration value="ircd"/>
            <xs:enumeration value="zope-ftp"/>
            <xs:enumeration value="tproxy"/>
            <xs:enumeration value="omniorb"/>
            <xs:enumeration value="clc-build-daemon"/>
            <xs:enumeration value="xinetd"/>
            <xs:enumeration value="mandelspawn"/>
            <xs:enumeration value="git"/>
            <xs:enumeration value="zope"/>
            <xs:enumeration value="webmin"/>
            <xs:enumeration value="kamanda"/>
            <xs:enumeration value="amandaidx"/>
            <xs:enumeration value="amidxtape"/>
            <xs:enumeration value="smsqp"/>
            <xs:enumeration value="xpilot"/>
            <xs:enumeration value="sgi-cmsd"/>
            <xs:enumeration value="sgi-crsd"/>
            <xs:enumeration value="sgi-gcd"/>
            <xs:enumeration value="sgi-cad"/>
            <xs:enumeration value="isdnlog"/>
            <xs:enumeration value="vboxd"/>
            <xs:enumeration value="binkp"/>
            <xs:enumeration value="asp"/>
            <xs:enumeration value="csync2"/>
            <xs:enumeration value="dircproxy"/>
            <xs:enumeration value="tfido"/>
            <xs:enumeration value="fido"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
